<!DOCTYPE html>
<html lang="vi">
  <!--Variables to set active page in sidebar-->
  <head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-language" content="vi">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Template">
    <meta name="COPYRIGHT" content="© Template">
    <meta name="robots" content="noodp,index,follow">
    <meta name="google" content="notranslate">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Baynanza Homepage</title>
    <!--Include CSS primary files-->
    <link href="css/bz-fonts.min.css" rel="stylesheet">
    <link href="css/bootstrap-custom.min.css" rel="stylesheet">
    <link href="css/bz-main.min.css" rel="stylesheet">
    <!--Include CSS plugins files-->
    <link href="lib-css/animate-v4.css" rel="stylesheet">
    <link href="lib-css/jquery.scrollbar.css" rel="stylesheet">
    <link href="lib-css/owl.carousel.min.css" rel="stylesheet">
    <link href="lib-css/swiper-bundle.css" rel="stylesheet">
    <!--Include CSS widgets common files-->
    <link href="widgets-css/html-content.css" rel="stylesheet">
    <link href="widgets-css/copyright.css" rel="stylesheet">
    <link href="widgets-css/line.css" rel="stylesheet">
    <link href="widgets-css/logo.css" rel="stylesheet">
    <link href="widgets-css/menu.css" rel="stylesheet">
    <link href="widgets-css/menu-vertical.css" rel="stylesheet">
    <link href="widgets-css/article-single.css" rel="stylesheet">
    <link href="widgets-css/growup.css" rel="stylesheet">
    <link href="widgets-css/owl-slider-image.css" rel="stylesheet">
    <link href="widgets-css/owl-slider-link.css" rel="stylesheet">
    <link href="widgets-css/swiper-slider-image.css" rel="stylesheet">
    <link href="widgets-css/social.css" rel="stylesheet">
    <!--Include CSS widgets pages files-->
    <link href="widgets-css/hero.css" rel="stylesheet">
    <link href="widgets-css/event-overview.css" rel="stylesheet">
    <link href="widgets-css/agenda.css" rel="stylesheet">
    <link href="widgets-css/partners-grid.css" rel="stylesheet">
    <link href="widgets-css/previous-events.css" rel="stylesheet">
    <link href="widgets-css/speakers.css" rel="stylesheet">
    <link href="widgets-css/quick-payment-method.css" rel="stylesheet">
    <!--Include CSS site files-->
    <style>
      :root, [data-bs-theme="light"] {
        --bs-primary: #007bff;
        --bs-primary-rgb: 0, 123, 255;
        --bs-secondary: #6c757d;
        --bs-secondary-rgb: 108, 117, 125;
        --bs-dark: #000;
        --bs-dark-rgb: 0, 0, 0;
        --bs-light: #f8f9fa;
        --bs-light-rgb: 248, 249, 250;
        --font-site: InterVariable, sans-serif;
        --font-title: InterVariable, sans-serif;
        --font-desc: InterVariable, sans-serif;
        --font-detail: InterVariable, sans-serif;
        --text-color-site: #fff;
        --text-color-title: #868686;
        --text-color-desc: #333;
        --text-color-detail: #555;
        --container-lg-width: 960px;
        --container-xl-width: 1140px;
        --container-xxl-width: 1320px;
        --bs-border-color: #333;
      }
      
      .bz-block {
        --padding-unit: 2rem;
        --padding-unit-md: 2.5rem;
        --padding-unit-lg: 3rem;
        --margin-unit: 1rem;
        --margin-unit-md: 1.5rem;
        --margin-unit-lg: 2rem;
      }
      
      .bz-box {
        --fontsize-unit: 1.25rem;
        --fontsize-unit-md: 1.25rem;
        --fontsize-unit-lg: 1.875rem;
      }
      
      .btn-primary {
        --bs-btn-bg: #007bff;
        --bs-btn-hover-bg: #0056b3;
        --bs-btn-hover-border-color: #004085;
      }
      
      .btn-secondary {
        --bs-btn-bg: #6c757d;
        --bs-btn-hover-bg: #5a6268;
        --bs-btn-hover-border-color: #545b62;
      }
    </style>
    <link href="widgets-site-css/baynanza-block-intro.css" rel="stylesheet">
    <link href="widgets-site-css/baynanza-block-album.css" rel="stylesheet">
    <link href="widgets-site-css/baynanza-block-product.css" rel="stylesheet">
    <link href="site-css/baynanza.css" rel="stylesheet">
  </head>
  <body class="bz-site-baynanza bg-dark">
    <!--Header part-->
    <div class="bz-header">
      <div class="container">
        <div class="bz-row">
          <div class="bz-col" data-col="10" data-col-lg="3">
            <div class="bz-block bz-block-logo">
              <div class="bz-logo"><a href="#"><img class="bz-logo__primary" src="upload/site/baynanza/logo-baynanza-white.svg" alt="logo"><img class="bz-logo__secondary" src="upload/site/baynanza/logo-baynanza-white.svg" alt="logo"></a></div>
              <!--end bz-logo-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="2" data-col-lg="9">
            <div class="bz-block bz-block-menu">
              <button class="bz-menu-expand js-menu-expand" type="button"><span class="material-symbols-outlined">menu</span></button>
              <div class="bz-menu">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Events</a></li>
                  <li><a href="#">Bazaar</a></li>
                  <li><a href="#">Memories</a></li>
                </ul>
                <!--end ul-->
              </div>
              <!--end bz-menu-vertical-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
        </div>
        <!--end bz-row-->
      </div>
      <!--end container-->
    </div>
    <!--end bz-header-->
    <!--Content page part-->
    <div class="bz-content">
      <div class="bz-block baynanza-block-intro" id="baynanza-block-intro" style="background-image: url(upload/site/baynanza/baynanza-block-intro.jpg);">
        <div class="container">
          <div class="bz-box is-center">
            <div class="bz-box__title">
              <div class="bz-box__title__main">
                <div class="bz-box__title__name">WELCOME TO BAYNANZA</div>
                <div class="bz-box__title__desc">Baynanza is a unique, immersive experience designed to ignite creativity and celebration. It's a space where artists can connect with fans and like-minded individuals, sharing unforgettable moments in a vibrant and exclusive atmosphere. Only 150 exclusive packages are available, offering varying access levels from Standard to Premium to VIP. The essence of Baynanza is rooted in attracting abundance and good fortune, creating an event unlike any other.</div>
              </div>
            </div>
          </div>
          <!--end bz-box-->
        </div>
        <!--end container-->
      </div>
      <!--end bz-block-->
      <div class="bz-block baynanza-block-intro" id="baynanza-block-intro-2">
        <div class="container">
          <div class="bz-box is-center">
            <div class="bz-box__title">
              <div class="bz-box__title__main">
                <div class="bz-box__title__name">TAKE A LOOK AT OUR EVENTS</div>
              </div>
            </div>
          </div>
          <!--end bz-box-->
        </div>
        <!--end container-->
      </div>
      <!--end bz-block-->
      <div class="bz-block baynanza-block-album" id="baynanza-block-album" style="background-image: url(upload/site/baynanza/baynanza-block-album.jpg);">
        <div class="bz-album-grid">
          <ul>
            <li>
              <div class="bz-album-item">
                <div class="bz-album-item__img"><a href="#"><img src="upload/site/baynanza/baynanza-album_1.jpg" alt="album"></a></div>
                <div class="bz-album-item__content">
                  <h3 class="bz-album-item__title"><a href="#">SEACRET SOCIETY</a></h3>
                  <div class="bz-album-item__time">June 14, 2025</div>
                  <div class="bz-album-item__desc">Is a unique, immersive experience designed to ignite creativity and celebration. It's a space where artists can connect with fans and like-minded individuals, sharing unforgettable moments in a vibrant and exclusive atmosphere</div>
                </div>
              </div>
            </li>
            <li>
              <div class="bz-album-item">
                <div class="bz-album-item__img"><a href="#"><img src="upload/site/baynanza/baynanza-album_1.jpg" alt="album"></a></div>
                <div class="bz-album-item__content">
                  <h3 class="bz-album-item__title"><a href="#">SEACRET SOCIETY</a></h3>
                  <div class="bz-album-item__time">June 14, 2025</div>
                  <div class="bz-album-item__desc">Is a unique, immersive experience designed to ignite creativity and celebration. It's a space where artists can connect with fans and like-minded individuals, sharing unforgettable moments in a vibrant and exclusive atmosphere</div>
                </div>
              </div>
            </li>
            <li>
              <div class="bz-album-item is-coming-soon">
                <div class="bz-album-item__content">
                  <h3 class="bz-album-item__title">Coming soon</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="bz-album-item is-coming-soon">
                <div class="bz-album-item__content">
                  <h3 class="bz-album-item__title">Coming soon</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="bz-album-item is-coming-soon">
                <div class="bz-album-item__content">
                  <h3 class="bz-album-item__title">Coming soon</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="bz-album-item is-coming-soon">
                <div class="bz-album-item__content">
                  <h3 class="bz-album-item__title">Coming soon</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="bz-album-item is-coming-soon">
                <div class="bz-album-item__content">
                  <h3 class="bz-album-item__title">Coming soon</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="bz-album-item is-coming-soon">
                <div class="bz-album-item__content">
                  <h3 class="bz-album-item__title">Coming soon</h3>
                </div>
              </div>
            </li>
            <li>
              <div class="bz-album-item is-coming-soon">
                <div class="bz-album-item__content">
                  <h3 class="bz-album-item__title">Coming soon</h3>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!--end bz-album-grid-->
      </div>
      <!--end bz-block-->
      <div class="bz-block baynanza-block-intro" id="baynanza-block-intro-3">
        <div class="container">
          <div class="bz-box is-center">
            <div class="bz-box__title">
              <div class="bz-box__title__main">
                <div class="bz-box__title__name">BAYNANZA MERCHANDISE</div>
              </div>
            </div>
          </div>
          <!--end bz-box-->
        </div>
        <!--end container-->
      </div>
      <!--end bz-block-->
      <div class="bz-block is-padding-top-small is-padding-bottom-small baynanza-block-product" id="baynanza-block-product">
        <div class="bz-product-grid">
          <ul>
            <li>
              <div class="bz-product-item">
                <div class="bz-product-item__img"><a href="#"><img src="upload/site/baynanza/baynanza-item_1.png" alt="thumb"></a></div>
                <div class="bz-product-item__content">
                  <div class="bz-product-item__row">
                    <h3 class="bz-product-item__title"><a href="#">Essential cap</a></h3>
                    <div class="bz-product-item__price">$45</div>
                  </div>
                  <div class="bz-product-item__row"><a class="btn btn-outline-light" href="#">Add</a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="bz-product-item">
                <div class="bz-product-item__img"><a href="#"><img src="upload/site/baynanza/baynanza-item_2.png" alt="thumb"></a></div>
                <div class="bz-product-item__content">
                  <div class="bz-product-item__row">
                    <h3 class="bz-product-item__title"><a href="#">Minimal tote bag</a></h3>
                    <div class="bz-product-item__price">$35</div>
                  </div>
                  <div class="bz-product-item__row"><a class="btn btn-outline-light" href="#">Add</a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="bz-product-item">
                <div class="bz-product-item__img"><a href="#"><img src="upload/site/baynanza/baynanza-item_3.png" alt="thumb"></a></div>
                <div class="bz-product-item__content">
                  <div class="bz-product-item__row">
                    <h3 class="bz-product-item__title"><a href="#">Baynanza towel</a></h3>
                    <div class="bz-product-item__price">$65</div>
                  </div>
                  <div class="bz-product-item__row"><a class="btn btn-outline-light" href="#">Add</a></div>
                </div>
              </div>
            </li>
            <li>
              <div class="bz-product-item">
                <div class="bz-product-item__img"><a href="#"><img src="upload/site/baynanza/baynanza-item_4.png" alt="thumb"></a></div>
                <div class="bz-product-item__content">
                  <div class="bz-product-item__row">
                    <h3 class="bz-product-item__title"><a href="#">Signature flag</a></h3>
                    <div class="bz-product-item__price">$85</div>
                  </div>
                  <div class="bz-product-item__row"><a class="btn btn-outline-light" href="#">Add</a></div>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!--end bz-product-grid-->
      </div>
      <!--end bz-block-->
    </div>
    <!--end bz-content-->
    <!--Footer part-->
    <div class="bz-footer">
      <div class="container">
        <div class="bz-row" data-gutter="1" data-gutter-md="2" data-gutter-lg="3">
          <div class="bz-col" data-col="12" data-col-lg="3">
            <div class="bz-block bz-block-logo">
              <div class="bz-logo"><a href="#"><img class="bz-logo__primary" src="upload/site/baynanza/logo-baynanza-white.svg" alt="logo"><img class="bz-logo__secondary" src="upload/site/baynanza/logo-baynanza-white.svg" alt="logo"></a></div>
              <!--end bz-logo-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="12" data-col-lg="2">
            <div class="bz-block bz-block-html-content">
              <div class="bz-html-content">
                <h4>Contact</h4>
                <p><span class="material-symbols-outlined text-size-medium me-2">call</span>(+84) 903396901</p>
                <p><span class="material-symbols-outlined text-size-medium me-2">mail</span>hello@vietverse.world</p>
              </div>
              <!--end bz-html-content-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="12" data-col-lg="7">
            <div class="bz-block bz-block-html-content">
              <div class="bz-html-content">
                <h4>Location</h4>
                <p> <span class="material-symbols-outlined text-size-medium me-2">location_on</span>No. 1, Nguyen Tat Thanh Street, Ward 12, District 4, Ho Chi Minh City</p>
              </div>
              <!--end bz-html-content-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
        </div>
        <!--end bz-row-->
      </div>
      <!--end container-->
      <div class="bz-block bz-block-line">
        <div class="bz-line bg-white"></div>
        <!--end bz-line-->
      </div>
      <!--end bz-block-->
      <div class="bz-block">
        <div class="container">
          <div class="bz-block bz-block-copyright">
            <div class="bz-copyright">Copyright ©2024 - All rights reserved. Powered by<a href="https://breezing.in" target="_blank" rel="noopener noreferrer"><i class="icon-breezing"></i></a></div>
            <!--end bz-copyright-->
          </div>
          <!--end bz-block-->
        </div>
        <!--end container-->
      </div>
      <!--end bz-block-->
    </div>
    <!--end bz-footer-->
    <!--Optional JavaScript part-->
    <!--Include Js primary files-->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/jquery-migrate-3.5.2.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <!--Include Js plugins files-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/owl.carousel2.thumbs.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/jquery.matchHeight-min.js"></script>
    <script src="js/jquery.scrollbar.min.js"></script>
    <script src="js/jquery.scrollchaser.min.js"></script>
    <script src="js/jquery.lazyload.min.js"></script>
    <!--Include Js custom files-->
    <script src="js/style.js"></script>
    <script src="js/widget.js"></script>
    <script src="js/test.js"></script>
    <!--Include Js site files-->
    <script src="site-js/baynanza.js"></script>
    <!--Page specific javascripts part-->
  </body>
</html>