<!DOCTYPE html>
<html lang="vi">
  <!--Variables to set active page in sidebar-->
  <head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-language" content="vi">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Template">
    <meta name="COPYRIGHT" content="© Template">
    <meta name="robots" content="noodp,index,follow">
    <meta name="google" content="notranslate">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Myanh Home</title>
    <!--Include CSS primary files-->
    <link href="css/bz-fonts.min.css" rel="stylesheet">
    <link href="css/bootstrap-custom.min.css" rel="stylesheet">
    <link href="css/bz-main.min.css" rel="stylesheet">
    <!--Include CSS plugins files-->
    <link href="lib-css/animate-v4.css" rel="stylesheet">
    <link href="lib-css/jquery.scrollbar.css" rel="stylesheet">
    <link href="lib-css/owl.carousel.min.css" rel="stylesheet">
    <link href="lib-css/swiper-bundle.css" rel="stylesheet">
    <!--Include CSS widgets common files-->
    <link href="widgets-css/html-content.css" rel="stylesheet">
    <link href="widgets-css/copyright.css" rel="stylesheet">
    <link href="widgets-css/line.css" rel="stylesheet">
    <link href="widgets-css/logo.css" rel="stylesheet">
    <link href="widgets-css/menu.css" rel="stylesheet">
    <link href="widgets-css/menu-vertical.css" rel="stylesheet">
    <link href="widgets-css/article-single.css" rel="stylesheet">
    <link href="widgets-css/growup.css" rel="stylesheet">
    <link href="widgets-css/owl-slider-image.css" rel="stylesheet">
    <link href="widgets-css/owl-slider-link.css" rel="stylesheet">
    <link href="widgets-css/swiper-slider-image.css" rel="stylesheet">
    <link href="widgets-css/social.css" rel="stylesheet">
    <!--Include CSS widgets pages files-->
    <link href="widgets-css/hero.css" rel="stylesheet">
    <link href="widgets-css/event-overview.css" rel="stylesheet">
    <link href="widgets-css/agenda.css" rel="stylesheet">
    <link href="widgets-css/partners-grid.css" rel="stylesheet">
    <link href="widgets-css/previous-events.css" rel="stylesheet">
    <link href="widgets-css/speakers.css" rel="stylesheet">
    <link href="widgets-css/quick-payment-method.css" rel="stylesheet">
    <!--Include CSS site files-->
    <style>
      :root, [data-bs-theme="light"] {
        --bs-primary: #007bff;
        --bs-primary-rgb: 0, 123, 255;
        --bs-secondary: #6c757d;
        --bs-secondary-rgb: 108, 117, 125;
        --bs-dark: #000;
        --bs-dark-rgb: 0, 0, 0;
        --bs-light: #f8f9fa;
        --bs-light-rgb: 248, 249, 250;
        --font-site: 'Inter', sans-serif;
        --font-title: 'Inter', sans-serif;
        --font-desc: 'Inter', sans-serif;
        --font-detail: 'Inter', sans-serif;
        --text-color-site: #000;
        --text-color-title: #000;
        --text-color-desc: #6C6C6C;
        --text-color-detail: #555;
        --container-lg-width: 960px;
        --container-xl-width: 1140px;
        --container-xxl-width: 1320px;
        --bs-border-color: #333;
      }
      .bz-block {
        --padding-unit: 2rem;
        --padding-unit-md: 2.5rem;
        --padding-unit-lg: 3rem;
        --margin-unit: 1rem;
        --margin-unit-md: 1.5rem;
        --margin-unit-lg: 2rem;
      }
      .bz-box {
        --fontsize-unit: 1.25rem;
        --fontsize-unit-md: 1.25rem;
        --fontsize-unit-lg: 1.5rem;
      }
      .btn-primary {
        --bs-btn-bg: #007bff;
        --bs-btn-hover-bg: #0056b3;
        --bs-btn-hover-border-color: #004085;
      }
      .btn-secondary {
        --bs-btn-bg: #6c757d;
        --bs-btn-hover-bg: #5a6268;
        --bs-btn-hover-border-color: #545b62;
      }
    </style>
    <link href="site-css/myanh.css" rel="stylesheet">
  </head>
  <body class="bz-site-myanh">
    <!--Header part-->
    <div class="bz-header">
      <div class="container">
        <div class="bz-row">
          <div class="bz-col" data-col="12">
            <div class="bz-block bz-block-menu">
              <button class="bz-menu-expand js-menu-expand" type="button"><span class="material-symbols-outlined">menu</span></button>
              <div class="bz-menu">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Show</a></li>
                  <li><a href="#">Shop</a></li>
                  <li><a href="#">Gallery/Blog</a></li>
                  <li><a href="#">Newsletter</a></li>
                  <li><a href="#">Contact</a></li>
                </ul>
                <!--end ul-->
              </div>
              <!--end bz-menu-vertical-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
        </div>
        <!--end bz-row-->
      </div>
      <!--end container-->
    </div>
    <!--end bz-header-->
    <!--Content page part-->
    <div class="bz-content">
      <div class="bz-block bz-block-html-content myanh-block-intro" id="myanh-block-intro">
        <div class="container">
          <div class="bz-html-content">
            <div class="bz-video-frame">
              <div class="bz-video-frame__inner">
                <video autoplay muted loop playsinline>
                  <source src="upload/site/myanh/video-intro.mp4" type="video/mp4">Trình duyệt của bạn không hỗ trợ thẻ video.
                </video>
              </div>
              <div class="bz-video-frame__btn"><a href="#" target="_blank">Watch Now</a></div>
              <div class="bz-video-frame__social">
                <ul>
                  <li><a href="#" target="_blank"><img src="upload/site/myanh/facebook.svg" alt="facebook"></a></li>
                  <li><a href="#" target="_blank"><img src="upload/site/myanh/instagram.svg" alt="instagram"></a></li>
                  <li><a href="#" target="_blank"><img src="upload/site/myanh/soundcloud.svg" alt="soundcloud"></a></li>
                  <li><a href="#" target="_blank"><img src="upload/site/myanh/apple-music.svg" alt="apple-music"></a></li>
                  <li><a href="#" target="_blank"><img src="upload/site/myanh/spotify.svg" alt="spotify"></a></li>
                  <li><a href="#" target="_blank"><img src="upload/site/myanh/twitter.svg" alt="twitter"></a></li>
                  <li><a href="#" target="_blank"><img src="upload/site/myanh/youtube.svg" alt="youtube"></a></li>
                </ul>
              </div>
            </div>
            <!--end bz-video-frame-->
          </div>
          <!--end bz-html-content-->
        </div>
        <!--end container-->
      </div>
      <!--end bz-block-->
      <div class="bz-block is-padding-top is-padding-bottom bz-block-html-content myanh-block-music" id="myanh-block-music">
        <div class="container">
          <div class="bz-box is-center">
            <div class="bz-box__title">
              <div class="bz-box__title__main">
                <div class="bz-box__title__name">New album</div>
              </div>
            </div>
            <div class="bz-box__content">
              <div class="bz-music-grid">
                <ul>
                  <li>
                    <div class="bz-music-item">
                      <div class="bz-music-item__img"><a href="#"><img src="upload/site/myanh/music_1.jpg" alt="music"><span class="bz-music-item__img-before"><span class="small text-uppercase">Listening to</span><br><span>gentle, baby</span></span><span class="bz-music-item__img-after"><span>to</span><img src="upload/site/myanh/music-icon.svg" alt="spotify"></span></a></div>
                      <div class="bz-music-item__content"><a class="bz-music-item__title" href="#"><span class="bz-music-item__name">gentle, baby</span><span class="bz-music-item__subname">MyAnh, g0nny</span><span class="bz-music-item__play"><img src="upload/site/myanh/music-play.png" alt="music"></span></a></div>
                    </div>
                  </li>
                  <li>
                    <div class="bz-music-item">
                      <div class="bz-music-item__img"><a href="#"><img src="upload/site/myanh/music_2.jpg" alt="music"><span class="bz-music-item__img-before"><span class="small text-uppercase">Listening to</span><br><span>gentle, baby</span></span><span class="bz-music-item__img-after"><span>to</span><img src="upload/site/myanh/music-icon.svg" alt="spotify"></span></a></div>
                      <div class="bz-music-item__content"><a class="bz-music-item__title" href="#"><span class="bz-music-item__name">Đánh cược</span><span class="bz-music-item__subname">MyAnh, g0nny</span><span class="bz-music-item__play"><img src="upload/site/myanh/music-play.png" alt="music"></span></a></div>
                    </div>
                  </li>
                  <li>
                    <div class="bz-music-item">
                      <div class="bz-music-item__img"><a href="#"><img src="upload/site/myanh/music_1.jpg" alt="music"><span class="bz-music-item__img-before"><span class="small text-uppercase">Listening to</span><br><span>gentle, baby</span></span><span class="bz-music-item__img-after"><span>to</span><img src="upload/site/myanh/music-icon.svg" alt="spotify"></span></a></div>
                      <div class="bz-music-item__content"><a class="bz-music-item__title" href="#"><span class="bz-music-item__name">gentle, baby</span><span class="bz-music-item__subname">MyAnh, g0nny</span><span class="bz-music-item__play"><img src="upload/site/myanh/music-play.png" alt="music"></span></a></div>
                    </div>
                  </li>
                </ul>
              </div>
              <!--end bz-music-grid-->
            </div>
            <!--end bz-box__content-->
          </div>
          <!--end bz-box-->
        </div>
        <!--end container-->
      </div>
      <!--end bz-block-->
      <div class="bz-block is-padding-top is-padding-bottom bz-block-owl-slider-image myanh-block-new-album" id="myanh-block-new-album">
        <div class="container">
          <div class="bz-box is-center">
            <div class="bz-box__title">
              <div class="bz-box__title__main">
                <div class="bz-box__title__name">New album</div>
              </div>
            </div>
            <div class="bz-box__content">
              <div class="bz-owl-slider">
                <div class="owl-carousel js-owl-slider" data-items="1" data-margin="12" data-loop="true" data-autoplay="true" data-autoplay-hover-pause="true" data-autoplay-timeout="6000" data-lazy-load="true" data-responsive="{&quot;0&quot;:{&quot;items&quot;:1},&quot;768&quot;:{&quot;items&quot;:2}}">
                  <div class="bz-owl-slider-image-item">
                    <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/myanh/new-album_1.png" src="images/transparent.gif" alt="New album"></a></div>
                  </div>
                  <div class="bz-owl-slider-image-item">
                    <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/myanh/new-album_2.png" src="images/transparent.gif" alt="New album"></a></div>
                  </div>
                </div>
                <!--end owl-carousel-->
              </div>
              <!--end bz-owl-slider-->
            </div>
            <!--end bz-box__content-->
          </div>
          <!--end bz-box-->
        </div>
        <!--end container-->
      </div>
      <!--end bz-block-->
      <div class="bz-block is-padding-bottom bz-block-html-content myanh-block-cta" id="myanh-block-cta">
        <div class="container">
          <div class="bz-html-content">
            <div class="text-center"><a class="bz-cta-button" href="#">PRE - ORDER NOW</a></div>
          </div>
          <!--end bz-html-content-->
        </div>
        <!--end container-->
      </div>
      <!--end bz-block-->
      <div class="bz-block is-padding-top is-padding-bottom bz-block-html-content myanh-block-show" id="myanh-block-show">
        <div class="container">
          <div class="bz-html-content">
            <div class="bz-box is-center">
              <div class="bz-box__title">
                <div class="bz-box__title__main">
                  <div class="bz-box__title__name">Show</div>
                </div>
              </div>
              <div class="bz-box__content">
                <div class="bz-show-list">
                  <ul>
                    <li>
                      <div class="bz-show-item">
                        <div class="bz-show-item__left">
                          <div class="bz-show-item__title">PHASE-THE-MOON</div>
                          <div class="bz-show-item__subtitle">Hanoi Rock City</div>
                        </div>
                        <div class="bz-show-item__right">
                          <div class="bz-show-item__time">7:00 PM. may 18. 2025</div>
                          <div class="bz-show-item__btn"><a class="btn btn-light text-uppercase rounded-pill" href="#" data-bs-toggle="modal" data-bs-target="#pre-order-information-modal">Buy ticket</a></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="bz-show-item">
                        <div class="bz-show-item__left">
                          <div class="bz-show-item__title">PHASE-THE-MOON</div>
                          <div class="bz-show-item__subtitle">Hanoi Rock City</div>
                        </div>
                        <div class="bz-show-item__right">
                          <div class="bz-show-item__time">7:00 PM. may 18. 2025</div>
                          <div class="bz-show-item__btn"><a class="btn btn-light text-uppercase rounded-pill" href="#" data-bs-toggle="modal" data-bs-target="#pre-order-information-modal">Buy ticket</a></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="bz-show-item">
                        <div class="bz-show-item__left">
                          <div class="bz-show-item__title">PHASE-THE-MOON</div>
                          <div class="bz-show-item__subtitle">Hanoi Rock City</div>
                        </div>
                        <div class="bz-show-item__right">
                          <div class="bz-show-item__time">7:00 PM. may 18. 2025</div>
                          <div class="bz-show-item__btn"><a class="btn btn-light text-uppercase rounded-pill" href="#" data-bs-toggle="modal" data-bs-target="#pre-order-information-modal">Buy ticket</a></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="bz-show-item">
                        <div class="bz-show-item__left">
                          <div class="bz-show-item__title">PHASE-THE-MOON</div>
                          <div class="bz-show-item__subtitle">Hanoi Rock City</div>
                        </div>
                        <div class="bz-show-item__right">
                          <div class="bz-show-item__time">7:00 PM. may 18. 2025</div>
                          <div class="bz-show-item__btn"><a class="btn btn-light text-uppercase rounded-pill" href="#" data-bs-toggle="modal" data-bs-target="#pre-order-information-modal">Buy ticket</a></div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div class="bz-show-item">
                        <div class="bz-show-item__left">
                          <div class="bz-show-item__title">PHASE-THE-MOON</div>
                          <div class="bz-show-item__subtitle">Hanoi Rock City</div>
                        </div>
                        <div class="bz-show-item__right">
                          <div class="bz-show-item__time">7:00 PM. may 18. 2025</div>
                          <div class="bz-show-item__btn"><a class="btn btn-light text-uppercase rounded-pill" href="#" data-bs-toggle="modal" data-bs-target="#pre-order-information-modal">Buy ticket</a></div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
                <!--end bz-show-list-->
                <!-- Pre order information Modal-->
                <div class="modal fade" id="pre-order-information-modal" tabindex="-1" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5">PRE-ORDER INFORMATION</h1>
                        <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="bz-form">
                          <div class="row mb-3">
                            <div class="col-12">
                              <label class="form-label">Name</label>
                              <input class="form-control" type="text" placeholder="John Nguyen">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-12">
                              <label class="form-label">Phone numbers</label>
                              <input class="form-control" type="text" placeholder="+84 938273718">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-12">
                              <label class="form-label">Email address</label>
                              <input class="form-control" type="text" placeholder="JohnNguyen@gmail.com">
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-12">
                              <label class="form-label">Choose your country</label>
                              <select class="form-select">
                                <option>Select</option>
                              </select>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-12">
                              <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="checkDefault" value="">
                                <label class="form-check-label" for="checkDefault">SIGN UP TO RECIEVE EMAIL UPDATE FROM MY ANH</label>
                              </div>
                            </div>
                          </div>
                          <div class="row mb-3">
                            <div class="col-12">
                              <p>Emails will be sent by or on behalf of Nimbus Creative Solutions, 987 Maple Ridge Drive, Portland, ME 04101 (207) 555-0138. You may withdraw your consent at any time. Privacy Policy / Do Not Sell My Personal Information</p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- end modal-body-->
                      <div class="modal-footer">
                        <div class="d-grid">
                          <button class="btn btn-light rounded-pill text-uppercase" type="button">Pre - order</button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--end bz-box__content-->
            </div>
            <!--end bz-box-->
          </div>
          <!--end bz-html-content-->
        </div>
        <!--end container-->
      </div>
      <!--end bz-block-->
      <div class="bz-block is-padding-top is-padding-bottom bz-block-owl-slider-image myanh-block-gallery" id="myanh-block-gallery">
        <div class="container">
          <div class="bz-box is-center">
            <div class="bz-box__title">
              <div class="bz-box__title__main">
                <div class="bz-box__title__name">Gallery</div>
              </div>
            </div>
            <div class="bz-box__content">
              <div class="bz-owl-slider">
                <div class="owl-carousel js-owl-slider" data-items="2" data-margin="12" data-loop="true" data-autoplay="true" data-autoplay-hover-pause="true" data-autoplay-timeout="6000" data-lazy-load="true" data-responsive="{&quot;0&quot;:{&quot;items&quot;:2},&quot;768&quot;:{&quot;items&quot;:3}}">
                  <div class="bz-owl-slider-image-item">
                    <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/myanh/gallery_1.jpg" src="images/transparent.gif" alt="Gallery"></a></div>
                  </div>
                  <div class="bz-owl-slider-image-item">
                    <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/myanh/gallery_2.jpg" src="images/transparent.gif" alt="Gallery"></a></div>
                  </div>
                  <div class="bz-owl-slider-image-item">
                    <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/myanh/gallery_1.jpg" src="images/transparent.gif" alt="Gallery"></a></div>
                  </div>
                  <div class="bz-owl-slider-image-item">
                    <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/myanh/gallery_2.jpg" src="images/transparent.gif" alt="Gallery"></a></div>
                  </div>
                </div>
                <!--end owl-carousel-->
              </div>
              <!--end bz-owl-slider-->
            </div>
            <!--end bz-box__content-->
          </div>
          <!--end bz-box-->
        </div>
        <!--end container-->
      </div>
      <!--end bz-block-->
      <div class="bz-block is-padding-bottom bz-block-html-content myanh-block-cta" id="myanh-block-cta-2">
        <div class="container">
          <div class="bz-html-content">
            <div class="text-center"><a class="bz-cta-button" href="#">See more</a></div>
          </div>
          <!--end bz-html-content-->
        </div>
        <!--end container-->
      </div>
      <!--end bz-block-->
      <div class="bz-block is-padding-top is-padding-bottom bz-block-html-content myanh-block-form" id="myanh-block-form">
        <div class="container">
          <div class="bz-html-content">
            <div class="bz-form">
              <div class="row g-2 mb-3">
                <div class="col-6">
                  <label class="form-label">Email</label>
                  <input class="form-control" type="email" placeholder="Email address">
                </div>
                <div class="col-6">
                  <label class="form-label">Choose country</label>
                  <select class="form-select">
                    <option value="">Select</option>
                    <option value="vn">Vietnam</option>
                    <option value="us">United States</option>
                    <option value="uk">United Kingdom</option>
                  </select>
                </div>
              </div>
              <div class="row g-2 mb-3">
                <div class="col-12">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="checkDefault" value="">
                    <label class="form-check-label" for="checkDefault">SIGN UP TO RECIEVE EMAIL UPDATE FROM MY ANH</label>
                  </div>
                </div>
              </div>
              <div class="row g-2 mb-3">
                <div class="col-12 text-center">
                  <p>Emails will be sent by or on behalf of Nimbus Creative Solutions, 987 Maple Ridge Drive, Portland, ME 04101 (207) 555-0138. You may withdraw your consent at any time. Privacy Policy / Do Not Sell My Personal Information</p>
                </div>
              </div>
              <div class="row g-2 mb-3">
                <div class="col-12">
                  <div class="d-grid">
                    <button class="btn btn-light rounded-pill" type="submit"><span>REGISTER</span></button>
                  </div>
                </div>
              </div>
            </div>
            <!--end bz-form-->
          </div>
          <!--end bz-html-content-->
        </div>
        <!--end container-->
      </div>
      <!--end bz-block-->
    </div>
    <!--end bz-content-->
    <!--Footer part-->
    <div class="bz-footer">
      <div class="container">
        <div class="bz-row" data-gutter="1" data-gutter-md="2" data-gutter-lg="3">
          <div class="bz-col" data-col="12" data-col-lg="6">
            <div class="bz-block bz-block-html-content myanh-block-copyright">
              <div class="bz-html-content">
                <p> @2025MYANH</p>
              </div>
              <!--end bz-html-content-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="12" data-col-lg="6">
            <div class="bz-block bz-block-menu-vertical myanh-block-footer-menu">
              <div class="bz-menu-vertical">
                <ul>
                  <li><a href="#">PRIVACY POLICY</a></li>
                  <li><a href="#">TERMS AND CONDITIONS</a></li>
                </ul>
                <!--end ul-->
              </div>
              <!--end bz-menu-vertical-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
        </div>
        <!--end bz-row-->
      </div>
      <!--end container-->
    </div>
    <!--end bz-footer-->
    <!--Optional JavaScript part-->
    <!--Include Js primary files-->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/jquery-migrate-3.5.2.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <!--Include Js plugins files-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/owl.carousel2.thumbs.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/jquery.matchHeight-min.js"></script>
    <script src="js/jquery.scrollbar.min.js"></script>
    <script src="js/jquery.scrollchaser.min.js"></script>
    <script src="js/jquery.lazyload.min.js"></script>
    <!--Include Js custom files-->
    <script src="js/style.js"></script>
    <script src="js/widget.js"></script>
    <script src="js/test.js"></script>
    <!--Include Js site files-->
    <script src="site-js/myanh.js"></script>
    <!--Page specific javascripts part-->
  </body>
</html>