<!DOCTYPE html>
<html lang="vi">
  <!--Variables to set active page in sidebar-->
  <head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-language" content="vi">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Template">
    <meta name="COPYRIGHT" content="© Template">
    <meta name="robots" content="noodp,index,follow">
    <meta name="google" content="notranslate">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Breezing Public V2 - Blank page</title>
    <!--Include CSS primary files-->
    <link href="css/bz-fonts.min.css" rel="stylesheet">
    <link href="css/bootstrap-custom.min.css" rel="stylesheet">
    <link href="css/bz-main.min.css" rel="stylesheet">
    <!--Include CSS plugins files-->
    <link href="lib-css/animate-v4.css" rel="stylesheet">
    <link href="lib-css/jquery.scrollbar.css" rel="stylesheet">
    <link href="lib-css/owl.carousel.min.css" rel="stylesheet">
    <link href="lib-css/swiper-bundle.css" rel="stylesheet">
    <!--Include CSS widgets common files-->
    <link href="widgets-css/html-content.css" rel="stylesheet">
    <link href="widgets-css/copyright.css" rel="stylesheet">
    <link href="widgets-css/line.css" rel="stylesheet">
    <link href="widgets-css/logo.css" rel="stylesheet">
    <link href="widgets-css/menu.css" rel="stylesheet">
    <link href="widgets-css/menu-vertical.css" rel="stylesheet">
    <link href="widgets-css/article-single.css" rel="stylesheet">
    <link href="widgets-css/growup.css" rel="stylesheet">
    <link href="widgets-css/owl-slider-image.css" rel="stylesheet">
    <link href="widgets-css/owl-slider-link.css" rel="stylesheet">
    <link href="widgets-css/swiper-slider-image.css" rel="stylesheet">
    <link href="widgets-css/social.css" rel="stylesheet">
    <!--Include CSS widgets pages files-->
    <link href="widgets-css/hero.css" rel="stylesheet">
    <link href="widgets-css/event-overview.css" rel="stylesheet">
    <link href="widgets-css/agenda.css" rel="stylesheet">
    <link href="widgets-css/partners-grid.css" rel="stylesheet">
    <link href="widgets-css/previous-events.css" rel="stylesheet">
    <link href="widgets-css/speakers.css" rel="stylesheet">
    <link href="widgets-css/quick-payment-method.css" rel="stylesheet">
    <!--Include CSS site files-->
  </head>
  <body>
    <!--Header part-->
    <div class="bz-header">
      <div class="container">
        <div class="bz-row">
          <div class="bz-col" data-col="5" data-col-lg="3">
            <div class="bz-block bz-block-logo">
              <div class="bz-logo"><a href="#"><img class="bz-logo__primary" src="upload/site/vietverse/logo-vietverse.svg" alt="logo"><img class="bz-logo__secondary" src="upload/site/vietverse/logo-vietverse-white.svg" alt="logo"></a></div>
              <!--end bz-logo-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="1" data-col-lg="6">
            <div class="bz-block bz-block-menu">
              <button class="bz-menu-expand js-menu-expand" type="button"><span class="material-symbols-outlined">menu</span></button>
              <div class="bz-menu">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Our solution</a></li>
                  <li><a href="#">Artist profile</a></li>
                </ul>
                <!--end ul-->
              </div>
              <!--end bz-menu-vertical-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="6" data-col-lg="3">
            <div class="bz-block bz-block-cta">
              <div class="bz-cta"><a class="btn btn-lg btn-dark rounded-pill" href="#">Work with us <span class="material-symbols-outlined text-size-medium ms-1">arrow_outward</span></a></div>
            </div>
          </div>
        </div>
        <!--end bz-row-->
      </div>
      <!--end container-->
    </div>
    <!--end bz-header-->
    <!--Content page part-->
    <div class="container">
      <p>This is Blank page</p>
      <div class="bz-box">
        <div class="bz-box__title">
          <div class="bz-box__title__name">Box title</div>
        </div>
        <div class="bz-box__content">Content</div>
        <!--end bz-box__content-->
      </div>
      <!--end bz-box-->
    </div>
    <!--end container-->
    <!--Footer part-->
    <div class="bz-footer">
      <div class="container">
        <div class="bz-row" data-gutter="1" data-gutter-md="2" data-gutter-lg="3">
          <div class="bz-col" data-col="12" data-col-lg="4">
            <div class="bz-block bz-block-logo">
              <div class="bz-logo"><a href="#"><img class="bz-logo__primary" src="upload/site/vietverse/logo-vietverse.svg" alt="logo"><img class="bz-logo__secondary" src="upload/site/vietverse/logo-vietverse-white.svg" alt="logo"></a></div>
              <!--end bz-logo-->
            </div>
            <!--end bz-block-->
            <div class="bz-block bz-block-copyright">
              <div class="bz-copyright">Powered by<a href="https://breezing.in" target="_blank" rel="noopener noreferrer"><i class="icon-breezing"></i></a></div>
              <!--end bz-copyright-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="12" data-col-lg="4">
            <div class="bz-block bz-block-menu-vertical">
              <div class="bz-menu-vertical">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Artist profile</a></li>
                  <li><a href="#">Our solution</a></li>
                  <li><a href="#">Work with us <span class="material-symbols-outlined text-size-medium ms-1">arrow_outward</span></a></li>
                </ul>
                <!--end ul-->
              </div>
              <!--end bz-menu-vertical-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="12" data-col-lg="4">
            <div class="bz-block bz-block-html-content">
              <div class="bz-html-content">
                <p> hello@vietverse.world</p>
                <p>(+84) 903396901</p>
                <p>vietverse.world</p>
              </div>
              <!--end bz-html-content-->
            </div>
            <!--end bz-block-->
            <div class="bz-block bz-block-social">
              <div class="bz-social">
                <ul>
                  <li><a href="#"><i class="icon20-facebook-o-white"></i></a></li>
                  <li><a href="#"><i class="icon20-twitter-x-o-white"></i></a></li>
                  <li><a href="#"><i class="icon20-instagram-o-white"></i></a></li>
                </ul>
              </div>
              <!--end bz-social-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
        </div>
        <!--end bz-row-->
      </div>
      <!--end container-->
    </div>
    <!--end bz-footer-->
    <!--Optional JavaScript part-->
    <!--Include Js primary files-->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/jquery-migrate-3.5.2.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <!--Include Js plugins files-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/owl.carousel2.thumbs.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/jquery.matchHeight-min.js"></script>
    <script src="js/jquery.scrollbar.min.js"></script>
    <script src="js/jquery.scrollchaser.min.js"></script>
    <script src="js/jquery.lazyload.min.js"></script>
    <!--Include Js custom files-->
    <script src="js/style.js"></script>
    <script src="js/widget.js"></script>
    <script src="js/test.js"></script>
    <!--Include Js site files-->
    <!--Page specific javascripts part-->
  </body>
</html>