<!DOCTYPE html>
<html lang="vi">
  <!--Variables to set active page in sidebar-->
  <head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-language" content="vi">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Template">
    <meta name="COPYRIGHT" content="© Template">
    <meta name="robots" content="noodp,index,follow">
    <meta name="google" content="notranslate">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Vietverse 2 - Home</title>
    <!--Include CSS primary files-->
    <link href="css/bz-fonts.min.css" rel="stylesheet">
    <link href="css/bootstrap-custom.min.css" rel="stylesheet">
    <link href="css/bz-main.min.css" rel="stylesheet">
    <!--Include CSS plugins files-->
    <link href="lib-css/animate-v4.css" rel="stylesheet">
    <link href="lib-css/jquery.scrollbar.css" rel="stylesheet">
    <link href="lib-css/owl.carousel.min.css" rel="stylesheet">
    <link href="lib-css/swiper-bundle.css" rel="stylesheet">
    <!--Include CSS widgets common files-->
    <link href="widgets-css/html-content.css" rel="stylesheet">
    <link href="widgets-css/copyright.css" rel="stylesheet">
    <link href="widgets-css/line.css" rel="stylesheet">
    <link href="widgets-css/logo.css" rel="stylesheet">
    <link href="widgets-css/menu.css" rel="stylesheet">
    <link href="widgets-css/menu-vertical.css" rel="stylesheet">
    <link href="widgets-css/article-single.css" rel="stylesheet">
    <link href="widgets-css/growup.css" rel="stylesheet">
    <link href="widgets-css/owl-slider-image.css" rel="stylesheet">
    <link href="widgets-css/owl-slider-link.css" rel="stylesheet">
    <link href="widgets-css/swiper-slider-image.css" rel="stylesheet">
    <link href="widgets-css/social.css" rel="stylesheet">
    <!--Include CSS widgets pages files-->
    <link href="widgets-css/hero.css" rel="stylesheet">
    <link href="widgets-css/event-overview.css" rel="stylesheet">
    <link href="widgets-css/agenda.css" rel="stylesheet">
    <link href="widgets-css/partners-grid.css" rel="stylesheet">
    <link href="widgets-css/previous-events.css" rel="stylesheet">
    <link href="widgets-css/speakers.css" rel="stylesheet">
    <link href="widgets-css/quick-payment-method.css" rel="stylesheet">
    <!--Include CSS site files-->
    <style>
      :root, [data-bs-theme="light"] {
        --bs-primary: #007bff;
        --bs-primary-rgb: 0, 123, 255;
        --bs-secondary: #6c757d;
        --bs-secondary-rgb: 108, 117, 125;
        --bs-dark: #000;
        --bs-dark-rgb: 0, 0, 0;
        --bs-light: #f8f9fa;
        --bs-light-rgb: 248, 249, 250;
        --font-site: 'Inter', sans-serif;
        --font-title: 'Montserrat', sans-serif;
        --font-desc: 'Roboto', sans-serif;
        --font-detail: 'Arial', sans-serif;
        --text-color-site: #fff;
        --text-color-title: #868686;
        --text-color-desc: #333;
        --text-color-detail: #555;
        --container-lg-width: 960px;
        --container-xl-width: 1140px;
        --container-xxl-width: 1320px;
        --bs-border-color: #333;
      }
      .bz-block {
        --padding-unit: 2rem;
        --padding-unit-md: 2.5rem;
        --padding-unit-lg: 3rem;
        --margin-unit: 1rem;
        --margin-unit-md: 1.5rem;
        --margin-unit-lg: 2rem;
      }
      .bz-box {
        --fontsize-unit: 1rem;
        --fontsize-unit-md: 1.25rem;
        --fontsize-unit-lg: 1.5rem;
      }
      .btn-primary {
        --bs-btn-bg: #007bff;
        --bs-btn-hover-bg: #0056b3;
        --bs-btn-hover-border-color: #004085;
      }
      .btn-secondary {
        --bs-btn-bg: #6c757d;
        --bs-btn-hover-bg: #5a6268;
        --bs-btn-hover-border-color: #545b62;
      }
    </style>
    <link href="site-css/vietverse-2.css" rel="stylesheet">
  </head>
  <body class="bz-site-vietverse-2 bg-dark">
    <!--Header part-->
    <div class="bz-header">
      <div class="container">
        <div class="bz-row">
          <div class="bz-col" data-col="10" data-col-lg="3">
            <div class="bz-block bz-block-logo">
              <div class="bz-logo"><a href="#"><img class="bz-logo__primary" src="upload/site/vietverse-2/logo-vietverse.svg" alt="logo"><img class="bz-logo__secondary" src="upload/site/vietverse-2/logo-vietverse-white.svg" alt="logo"></a></div>
              <!--end bz-logo-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="2" data-col-lg="9">
            <div class="bz-block bz-block-menu">
              <button class="bz-menu-expand js-menu-expand" type="button"><span class="material-symbols-outlined">menu</span></button>
              <div class="bz-menu">
                <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">Experiences</a></li>
                  <li><a href="#">Bazaar</a></li>
                  <li><a href="#">Memories</a></li>
                </ul>
                <!--end ul-->
              </div>
              <!--end bz-menu-vertical-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
        </div>
        <!--end bz-row-->
      </div>
      <!--end container-->
    </div>
    <!--end bz-header-->
    <!--Content page part-->
    <div class="bz-content">
      <div class="bz-block is-padding-top-small is-padding-bottom-small bz-block-swiper-slider-image vietverse-2-block-cover-gallery" id="vietverse-2-block-cover-gallery">
        <div class="container">
          <div class="bz-box">
            <div class="bz-box__content">
              <div class="bz-swiper-slider" data-items-group="1">
                <div class="swiper mySwiper js-swiper-slider" data-space-between="10" data-slides-per-view="2" data-loop="true" data-autoplay="true" data-autoplay-hover-pause="true" data-autoplay-delay="6000" data-lazy-load="true" data-grab-cursor="true" data-centered-slides="true" data-effect="coverflow" data-coverflow-effect="{&quot;rotate&quot;: 40, &quot;stretch&quot;: 0, &quot;depth&quot;: 200, &quot;modifier&quot;: 1, &quot;slideShadows&quot;: false}" data-breakpoints="{&quot;768&quot;: {&quot;slidesPerView&quot;: 3,&quot;spaceBetween&quot;: 5, &quot;coverflowEffect&quot;: {&quot;rotate&quot;: 50, &quot;stretch&quot;: 0, &quot;depth&quot;: 300, &quot;modifier&quot;: 1, &quot;slideShadows&quot;: false} } }">
                  <div class="swiper-wrapper">
                    <div class="swiper-slide">
                      <div class="bz-swiper-slider-image-item">
                        <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 1"><img src="upload/site/vietverse-2/cover_1.png" loading="lazy" alt="Gallery 1"></a></div>
                      </div>
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                    <div class="swiper-slide">
                      <div class="bz-swiper-slider-image-item">
                        <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 2"><img src="upload/site/vietverse-2/cover_1.png" loading="lazy" alt="Gallery 1"></a></div>
                      </div>
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                    <div class="swiper-slide">
                      <div class="bz-swiper-slider-image-item">
                        <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 3"><img src="upload/site/vietverse-2/cover_1.png" loading="lazy" alt="Gallery 1"></a></div>
                      </div>
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                    <div class="swiper-slide">
                      <div class="bz-swiper-slider-image-item">
                        <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 4"><img src="upload/site/vietverse-2/cover_1.png" loading="lazy" alt="Gallery 1"></a></div>
                      </div>
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                    <div class="swiper-slide">
                      <div class="bz-swiper-slider-image-item">
                        <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 5"><img src="upload/site/vietverse-2/cover_1.png" loading="lazy" alt="Gallery 1"></a></div>
                      </div>
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                    <div class="swiper-slide">
                      <div class="bz-swiper-slider-image-item">
                        <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 6"><img src="upload/site/vietverse-2/cover_1.png" loading="lazy" alt="Gallery 1"></a></div>
                      </div>
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                    <div class="swiper-slide">
                      <div class="bz-swiper-slider-image-item">
                        <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 7"><img src="upload/site/vietverse-2/cover_1.png" loading="lazy" alt="Gallery 1"></a></div>
                      </div>
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                    <div class="swiper-slide">
                      <div class="bz-swiper-slider-image-item">
                        <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 8"><img src="upload/site/vietverse-2/cover_1.png" loading="lazy" alt="Gallery 1"></a></div>
                      </div>
                      <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                    </div>
                  </div>
                  <!--end swiper-wrapper-->
                </div>
                <!--end swiper-container-->
              </div>
              <!--end bz-swiper-slider-->
            </div>
            <!--end bz-box__content-->
          </div>
          <!--end bz-box-->
        </div>
        <!--end container-->
      </div>
      <!--end bz-block-->
      <div class="bz-block is-padding-top-small is-padding-bottom-small bz-block-owl-slider-image vietverse-2-block-partner" id="vietverse-2-block-partner">
        <div class="container">
          <div class="bz-box is-center">
            <div class="bz-box__content">
              <div class="bz-owl-slider" data-items-size="3-2">
                <div class="owl-carousel js-owl-slider" data-items="3" data-margin="12" data-loop="true" data-autoplay="true" data-autoplay-hover-pause="true" data-autoplay-timeout="6000" data-lazy-load="true" data-responsive="{&quot;0&quot;:{&quot;items&quot;:3},&quot;768&quot;:{&quot;items&quot;:4},&quot;992&quot;:{&quot;items&quot;:5}}">
                  <div class="bz-owl-slider-image-item">
                    <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse-2/partner_1.png" src="images/transparent.gif" alt="Partner name"></a></div>
                  </div>
                  <div class="bz-owl-slider-image-item">
                    <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse-2/partner_2.png" src="images/transparent.gif" alt="Partner name"></a></div>
                  </div>
                  <div class="bz-owl-slider-image-item">
                    <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse-2/partner_3.png" src="images/transparent.gif" alt="Partner name"></a></div>
                  </div>
                  <div class="bz-owl-slider-image-item">
                    <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse-2/partner_4.png" src="images/transparent.gif" alt="Partner name"></a></div>
                  </div>
                  <div class="bz-owl-slider-image-item">
                    <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse-2/partner_5.png" src="images/transparent.gif" alt="Partner name"></a></div>
                  </div>
                </div>
                <!--end owl-carousel-->
              </div>
              <!--end bz-owl-slider-->
            </div>
            <!--end bz-box__content-->
          </div>
          <!--end bz-box-->
        </div>
        <!--end container-->
      </div>
      <!--end bz-block-->
      <div class="bz-block is-padding-top-large is-padding-bottom-large bz-block-html-content vietverse-2-block-link-large" id="vietverse-2-block-link-large">
        <div class="container">
          <div class="bz-html-content">
            <div class="vietverse-2-link-large-box">
              <ul>
                <li>
                  <div class="vietverse-2-link-large-item"><a href="#" title="Creator Unlock">Creator Unlock</a></div>
                </li>
                <li>
                  <div class="vietverse-2-link-large-item"><a href="#" title="Heritage Unleased">Heritage Unleased</a></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--end container-->
      </div>
      <!--end bz-block-->
    </div>
    <!--end bz-content-->
    <!--Footer part-->
    <div class="bz-footer">
      <div class="container">
        <div class="bz-row" data-gutter="1" data-gutter-md="2" data-gutter-lg="3">
          <div class="bz-col" data-col="12" data-col-lg="3">
            <div class="bz-block bz-block-logo">
              <div class="bz-logo"><a href="#"><img class="bz-logo__primary" src="upload/site/vietverse-2/logo-vietverse.svg" alt="logo"><img class="bz-logo__secondary" src="upload/site/vietverse-2/logo-vietverse-white.svg" alt="logo"></a></div>
              <!--end bz-logo-->
            </div>
            <!--end bz-block-->
            <div class="bz-block bz-block-copyright">
              <div class="bz-copyright">Powered by<a href="https://breezing.in" target="_blank" rel="noopener noreferrer"><i class="icon-breezing"></i></a></div>
              <!--end bz-copyright-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="12" data-col-lg="2">
            <div class="bz-block bz-block-html-content">
              <div class="bz-html-content">
                <h4>Contact</h4>
                <p><span class="material-symbols-outlined text-size-medium me-2">call</span>(+84) 903396901</p>
                <p><span class="material-symbols-outlined text-size-medium me-2">mail</span>hello@vietverse.world</p>
              </div>
              <!--end bz-html-content-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="12" data-col-lg="7">
            <div class="bz-block bz-block-html-content">
              <div class="bz-html-content">
                <h4>Location</h4>
                <p> <span class="material-symbols-outlined text-size-medium me-2">location_on</span>No. 1, Nguyen Tat Thanh Street, Ward 12, District 4, Ho Chi Minh City</p>
              </div>
              <!--end bz-html-content-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
        </div>
        <!--end bz-row-->
      </div>
      <!--end container-->
    </div>
    <!--end bz-footer-->
    <!--Optional JavaScript part-->
    <!--Include Js primary files-->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/jquery-migrate-3.5.2.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <!--Include Js plugins files-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/owl.carousel2.thumbs.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/jquery.matchHeight-min.js"></script>
    <script src="js/jquery.scrollbar.min.js"></script>
    <script src="js/jquery.scrollchaser.min.js"></script>
    <script src="js/jquery.lazyload.min.js"></script>
    <!--Include Js custom files-->
    <script src="js/style.js"></script>
    <script src="js/widget.js"></script>
    <script src="js/test.js"></script>
    <!--Include Js site files-->
    <script src="site-js/vietverse-2.js"></script>
    <!--Page specific javascripts part-->
  </body>
</html>