<!DOCTYPE html>
<html lang="vi">
  <!--Variables to set active page in sidebar-->
  <head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-language" content="vi">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Template">
    <meta name="COPYRIGHT" content="© Template">
    <meta name="robots" content="noodp,index,follow">
    <meta name="google" content="notranslate">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>Vietverse - Home</title>
    <!--Include CSS primary files-->
    <link href="css/bz-fonts.min.css" rel="stylesheet">
    <link href="css/bootstrap-custom.min.css" rel="stylesheet">
    <link href="css/bz-main.min.css" rel="stylesheet">
    <!--Include CSS plugins files-->
    <link href="lib-css/animate-v4.css" rel="stylesheet">
    <link href="lib-css/jquery.scrollbar.css" rel="stylesheet">
    <link href="lib-css/owl.carousel.min.css" rel="stylesheet">
    <link href="lib-css/swiper-bundle.css" rel="stylesheet">
    <!--Include CSS widgets common files-->
    <link href="widgets-css/html-content.css" rel="stylesheet">
    <link href="widgets-css/copyright.css" rel="stylesheet">
    <link href="widgets-css/line.css" rel="stylesheet">
    <link href="widgets-css/logo.css" rel="stylesheet">
    <link href="widgets-css/menu.css" rel="stylesheet">
    <link href="widgets-css/menu-vertical.css" rel="stylesheet">
    <link href="widgets-css/article-single.css" rel="stylesheet">
    <link href="widgets-css/growup.css" rel="stylesheet">
    <link href="widgets-css/owl-slider-image.css" rel="stylesheet">
    <link href="widgets-css/owl-slider-link.css" rel="stylesheet">
    <link href="widgets-css/swiper-slider-image.css" rel="stylesheet">
    <link href="widgets-css/social.css" rel="stylesheet">
    <!--Include CSS widgets pages files-->
    <link href="widgets-css/hero.css" rel="stylesheet">
    <link href="widgets-css/event-overview.css" rel="stylesheet">
    <link href="widgets-css/agenda.css" rel="stylesheet">
    <link href="widgets-css/partners-grid.css" rel="stylesheet">
    <link href="widgets-css/previous-events.css" rel="stylesheet">
    <link href="widgets-css/speakers.css" rel="stylesheet">
    <link href="widgets-css/quick-payment-method.css" rel="stylesheet">
    <!--Include CSS site files-->
    <style>
      :root, [data-bs-theme="light"] {
        --bs-primary: #1F2937;
        --bs-primary-rgb: 31,41,55;
        --bs-primary-light: rgba(31,41,55,0.2);
        --bs-primary-hover: rgba(31,41,55,0.8);
        --bs-secondary: #E50914;
        --bs-secondary-rgb: 229,9,20;
        --bs-secondary-light: rgba(229,9,20,0.2);
        --bs-secondary-hover: rgba(229,9,20,0.8);
        --bs-dark: #111827;
        --bs-dark-rgb: 17,24,39;
        --bs-dark-hover: rgba(17,24,39,0.8);
        --font-site: 'Montserrat', sans-serif;
        --font-title: 'Futura PT', sans-serif;
        --font-desc: InterVariable, sans-serif;
        --font-detail: InterVariable, sans-serif;
        --text-color-site: #000;
        --text-color-title: #E50914;
        --text-color-desc: #555;
        --text-color-detail: #222;
        --container-lg-width: 970px;
        --container-xl-width: 1140px;
        --container-xxl-width: 1280px;
      }
      .bz-block {
        --padding-unit: 24px;
        --padding-unit-md: 30px;
        --padding-unit-lg: 40px;
        --margin-unit: 24px;
        --margin-unit-md: 30px;
        --margin-unit-lg: 40px;
      }
      .bz-box {
        --fontsize-unit: 48px;
        --fontsize-unit-md: 60px;
        --fontsize-unit-lg: 72px;
      }
      .btn-primary {
        --bs-btn-hover-bg: var(--bs-primary-hover);
        --bs-btn-hover-border-color: var(--bs-primary-hover);
      }
      .btn-secondary {
        --bs-btn-hover-bg: var(--bs-secondary-hover);
        --bs-btn-hover-border-color: var(--bs-secondary-hover);
      }
      .btn-dark{
        --bs-btn-hover-bg: var(--bs-dark-hover);
        --bs-btn-hover-border-color: var(--bs-dark-hover);
      }
      
    </style>
    <link href="site-css/vietverse.css" rel="stylesheet">
  </head>
  <body class="bz-site-vietverse bg-dark">
    <!--Header part-->
    <div class="bz-header">
      <div class="container">
        <div class="bz-row">
          <div class="bz-col" data-col="5" data-col-lg="3">
            <div class="bz-block bz-block-logo">
              <div class="bz-logo"><a href="#"><img class="bz-logo__primary" src="upload/site/vietverse/logo-vietverse.svg" alt="logo"><img class="bz-logo__secondary" src="upload/site/vietverse/logo-vietverse-white.svg" alt="logo"></a></div>
              <!--end bz-logo-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="1" data-col-lg="6">
            <div class="bz-block bz-block-menu">
              <button class="bz-menu-expand js-menu-expand" type="button"><span class="material-symbols-outlined">menu</span></button>
              <div class="bz-menu">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Our solution</a></li>
                  <li><a href="#">Artist profile</a></li>
                </ul>
                <!--end ul-->
              </div>
              <!--end bz-menu-vertical-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="6" data-col-lg="3">
            <div class="bz-block bz-block-cta">
              <div class="bz-cta"><a class="btn btn-lg btn-dark rounded-pill" href="#">Work with us <span class="material-symbols-outlined text-size-medium ms-1">arrow_outward</span></a></div>
            </div>
          </div>
        </div>
        <!--end bz-row-->
      </div>
      <!--end container-->
    </div>
    <!--end bz-header-->
    <!--Content page part-->
    <div class="bz-content">
      <div class="bz-row">
        <div class="bz-col">
          <div class="bz-block is-padding-top-medium is-padding-bottom-medium bz-block-html-content vietverse-block-intro" id="vietverse-block-intro">
            <div class="container">
              <div class="bz-html-content">
                <div class="vietverse-intro-box">
                  <div class="vietverse-intro">
                    <div class="vietverse-intro-item bg-dark" id="vietverse-intro-item-1">
                      <h1 class="vietverse-intro-item__title">Welcome to</h1>
                      <div class="vietverse-intro-item__image">
                        <p><img src="upload/site/vietverse/logo-hozizontal-white.svg" alt="Vietverse"></p>
                        <p><img src="upload/site/vietverse/hand.png" alt="hand"></p>
                      </div>
                    </div>
                    <!--end vietverse-intro-item-->
                    <div class="vietverse-intro-item bg-secondary" id="vietverse-intro-item-2">
                      <div class="vietverse-intro-item__title is-big"><strong>Heritage unlocked</strong></div>
                      <div class="vietverse-intro-item__image">
                        <p><img src="upload/site/vietverse/finger.png" alt="finger"></p>
                      </div>
                      <div class="vietverse-intro-item__title is-big">Creators unlocked</div>
                    </div>
                    <!--end vietverse-intro-item-->
                    <div class="vietverse-intro-item" id="vietverse-intro-item-3">
                      <div class="vietverse-intro-item__image">
                        <p><img src="upload/site/vietverse/logo-vietverse-white.svg" alt="logo"></p>
                      </div>
                    </div>
                  </div>
                  <!--end vietverse-intro-->
                  <div class="vietverse-intro-scroll-down"><a class="js-scroll-to" href="#vietverse-block-partner" title="Scroll down">Scroll down<span class="material-symbols-outlined">arrow_downward</span></a></div>
                </div>
                <!--end vietverse-intro-box-->
              </div>
              <!--end bz-html-content-->
            </div>
            <!--end container-->
          </div>
          <!--end bz-block-->
          <div class="bz-block is-padding-top-small is-padding-bottom-small bg-secondary bz-block-owl-slider-image vietverse-block-partner" id="vietverse-block-partner">
            <div class="container">
              <div class="bz-box is-center">
                <div class="bz-box__title">
                  <div class="bz-box__title__main">
                    <div class="bz-box__title__name">Our Partners</div>
                  </div>
                </div>
                <div class="bz-box__content">
                  <div class="bz-owl-slider">
                    <div class="owl-carousel js-owl-slider" data-items="3" data-margin="8" data-loop="true" data-autoplay="true" data-autoplay-hover-pause="true" data-autoplay-timeout="6000" data-lazy-load="true" data-responsive="{&quot;0&quot;:{&quot;items&quot;:3},&quot;768&quot;:{&quot;items&quot;:6},&quot;992&quot;:{&quot;items&quot;:9},&quot;1200&quot;:{&quot;items&quot;:12}}">
                      <div class="bz-owl-slider-image-item">
                        <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse/partner_1.png" src="images/transparent.gif" alt="Partner name"></a></div>
                      </div>
                      <div class="bz-owl-slider-image-item">
                        <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse/partner_2.png" src="images/transparent.gif" alt="Partner name"></a></div>
                      </div>
                      <div class="bz-owl-slider-image-item">
                        <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse/partner_3.png" src="images/transparent.gif" alt="Partner name"></a></div>
                      </div>
                      <div class="bz-owl-slider-image-item">
                        <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse/partner_1.png" src="images/transparent.gif" alt="Partner name"></a></div>
                      </div>
                      <div class="bz-owl-slider-image-item">
                        <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse/partner_2.png" src="images/transparent.gif" alt="Partner name"></a></div>
                      </div>
                      <div class="bz-owl-slider-image-item">
                        <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse/partner_3.png" src="images/transparent.gif" alt="Partner name"></a></div>
                      </div>
                      <div class="bz-owl-slider-image-item">
                        <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse/partner_1.png" src="images/transparent.gif" alt="Partner name"></a></div>
                      </div>
                      <div class="bz-owl-slider-image-item">
                        <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse/partner_2.png" src="images/transparent.gif" alt="Partner name"></a></div>
                      </div>
                      <div class="bz-owl-slider-image-item">
                        <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse/partner_3.png" src="images/transparent.gif" alt="Partner name"></a></div>
                      </div>
                      <div class="bz-owl-slider-image-item">
                        <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse/partner_1.png" src="images/transparent.gif" alt="Partner name"></a></div>
                      </div>
                      <div class="bz-owl-slider-image-item">
                        <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse/partner_2.png" src="images/transparent.gif" alt="Partner name"></a></div>
                      </div>
                      <div class="bz-owl-slider-image-item">
                        <div class="bz-owl-slider-image-item__inner"><a href="javascript:void(0);" title="Partner name"><img class="owl-lazy" data-src="upload/site/vietverse/partner_3.png" src="images/transparent.gif" alt="Partner name"></a></div>
                      </div>
                    </div>
                    <!--end owl-carousel-->
                  </div>
                  <!--end bz-owl-slider-->
                </div>
                <!--end bz-box__content-->
              </div>
              <!--end bz-box-->
            </div>
            <!--end container-->
          </div>
          <!--end bz-block-->
          <div class="bz-block is-padding-top-large is-padding-bottom-medium bz-block-swiper-slider-vertical-image vietverse-block-artist-gallery" id="vietverse-block-artist-gallery">
            <div class="container">
              <div class="bz-box">
                <div class="bz-box__title">
                  <div class="bz-box__title__main">
                    <div class="bz-box__title__before">See it to</div>
                    <div class="bz-box__title__name">Believe it</div>
                  </div>
                </div>
                <div class="bz-box__content">
                  <div class="bz-swiper-slider d-lg-none" data-items-size="3-2" data-items-group="1">
                    <div class="swiper mySwiper js-swiper-slider" data-direction="vertical" data-space-between="16" data-loop="true" data-autoplay="true" data-autoplay-hover-pause="true" data-autoplay-delay="6000" data-lazy-load="true" data-breakpoints="{}">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="bz-swiper-slider-image-item">
                            <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 1"><img src="upload/site/vietverse/gallery_1.png" loading="lazy" alt="Gallery 1"></a></div>
                          </div>
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="bz-swiper-slider-image-item">
                            <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 2"><img src="upload/site/vietverse/gallery_2.png" loading="lazy" alt="Gallery 2"></a></div>
                          </div>
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="bz-swiper-slider-image-item">
                            <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 3"><img src="upload/site/vietverse/gallery_3.png" loading="lazy" alt="Gallery 3"></a></div>
                          </div>
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="bz-swiper-slider-image-item">
                            <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 4"><img src="upload/site/vietverse/gallery_4.png" loading="lazy" alt="Gallery 4"></a></div>
                          </div>
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="bz-swiper-slider-image-item">
                            <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 5"><img src="upload/site/vietverse/gallery_1.png" loading="lazy" alt="Gallery 5"></a></div>
                          </div>
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="bz-swiper-slider-image-item">
                            <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 6"><img src="upload/site/vietverse/gallery_2.png" loading="lazy" alt="Gallery 6"></a></div>
                          </div>
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="bz-swiper-slider-image-item">
                            <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 7"><img src="upload/site/vietverse/gallery_3.png" loading="lazy" alt="Gallery 7"></a></div>
                          </div>
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="bz-swiper-slider-image-item">
                            <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 8"><img src="upload/site/vietverse/gallery_4.png" loading="lazy" alt="Gallery 8"></a></div>
                          </div>
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                      </div>
                      <!--end swiper-wrapper-->
                    </div>
                    <!--end swiper-container-->
                  </div>
                  <!--end bz-swiper-slider-->
                  <div class="bz-swiper-slider d-none d-lg-block" data-items-size="3-2" data-items-group="2">
                    <div class="swiper mySwiper js-swiper-slider" data-direction="vertical" data-slides-per-view="auto" data-space-between="0" data-loop="true" data-autoplay="true" data-autoplay-hover-pause="true" data-autoplay-delay="6000" data-lazy-load="true" data-breakpoints="{}">
                      <div class="swiper-wrapper">
                        <div class="swiper-slide">
                          <div class="bz-swiper-slider-image-item">
                            <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 1"><img src="upload/site/vietverse/gallery_1.png" loading="lazy" alt="Gallery 1"></a></div>
                          </div>
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                          <div class="bz-swiper-slider-image-item">
                            <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 2"><img src="upload/site/vietverse/gallery_2.png" loading="lazy" alt="Gallery 2"></a></div>
                          </div>
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="bz-swiper-slider-image-item">
                            <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 3"><img src="upload/site/vietverse/gallery_3.png" loading="lazy" alt="Gallery 3"></a></div>
                          </div>
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                          <div class="bz-swiper-slider-image-item">
                            <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 4"><img src="upload/site/vietverse/gallery_4.png" loading="lazy" alt="Gallery 4"></a></div>
                          </div>
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="bz-swiper-slider-image-item">
                            <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 5"><img src="upload/site/vietverse/gallery_1.png" loading="lazy" alt="Gallery 5"></a></div>
                          </div>
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                          <div class="bz-swiper-slider-image-item">
                            <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 6"><img src="upload/site/vietverse/gallery_2.png" loading="lazy" alt="Gallery 6"></a></div>
                          </div>
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                        <div class="swiper-slide">
                          <div class="bz-swiper-slider-image-item">
                            <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 7"><img src="upload/site/vietverse/gallery_3.png" loading="lazy" alt="Gallery 7"></a></div>
                          </div>
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                          <div class="bz-swiper-slider-image-item">
                            <div class="bz-swiper-slider-image-item__inner"><a href="javascript:void(0);" title="Gallery 8"><img src="upload/site/vietverse/gallery_4.png" loading="lazy" alt="Gallery 8"></a></div>
                          </div>
                          <div class="swiper-lazy-preloader swiper-lazy-preloader-white"></div>
                        </div>
                      </div>
                      <!--end swiper-wrapper-->
                    </div>
                    <!--end swiper-container-->
                  </div>
                  <!--end bz-swiper-slider-->
                </div>
                <!--end bz-box__content-->
              </div>
              <!--end bz-box-->
            </div>
            <!--end container-->
          </div>
          <!--end bz-block-->
        </div>
        <!--end bz-col-->
      </div>
      <!--end bz-row-->
    </div>
    <!--end bz-content-->
    <!--Footer part-->
    <div class="bz-footer">
      <div class="container">
        <div class="bz-row" data-gutter="1" data-gutter-md="2" data-gutter-lg="3">
          <div class="bz-col" data-col="12" data-col-lg="4">
            <div class="bz-block bz-block-logo">
              <div class="bz-logo"><a href="#"><img class="bz-logo__primary" src="upload/site/vietverse/logo-vietverse.svg" alt="logo"><img class="bz-logo__secondary" src="upload/site/vietverse/logo-vietverse-white.svg" alt="logo"></a></div>
              <!--end bz-logo-->
            </div>
            <!--end bz-block-->
            <div class="bz-block bz-block-copyright">
              <div class="bz-copyright">Powered by<a href="https://breezing.in" target="_blank" rel="noopener noreferrer"><i class="icon-breezing"></i></a></div>
              <!--end bz-copyright-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="12" data-col-lg="4">
            <div class="bz-block bz-block-menu-vertical">
              <div class="bz-menu-vertical">
                <ul>
                  <li><a href="#">About Us</a></li>
                  <li><a href="#">Artist profile</a></li>
                  <li><a href="#">Our solution</a></li>
                  <li><a href="#">Work with us <span class="material-symbols-outlined text-size-medium ms-1">arrow_outward</span></a></li>
                </ul>
                <!--end ul-->
              </div>
              <!--end bz-menu-vertical-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="12" data-col-lg="4">
            <div class="bz-block bz-block-html-content">
              <div class="bz-html-content">
                <p> hello@vietverse.world</p>
                <p>(+84) 903396901</p>
                <p>vietverse.world</p>
              </div>
              <!--end bz-html-content-->
            </div>
            <!--end bz-block-->
            <div class="bz-block bz-block-social">
              <div class="bz-social">
                <ul>
                  <li><a href="#"><i class="icon20-facebook-o-white"></i></a></li>
                  <li><a href="#"><i class="icon20-twitter-x-o-white"></i></a></li>
                  <li><a href="#"><i class="icon20-instagram-o-white"></i></a></li>
                </ul>
              </div>
              <!--end bz-social-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
        </div>
        <!--end bz-row-->
      </div>
      <!--end container-->
    </div>
    <!--end bz-footer-->
    <!--Optional JavaScript part-->
    <!--Include Js primary files-->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/jquery-migrate-3.5.2.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <!--Include Js plugins files-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/owl.carousel2.thumbs.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/jquery.matchHeight-min.js"></script>
    <script src="js/jquery.scrollbar.min.js"></script>
    <script src="js/jquery.scrollchaser.min.js"></script>
    <script src="js/jquery.lazyload.min.js"></script>
    <!--Include Js custom files-->
    <script src="js/style.js"></script>
    <script src="js/widget.js"></script>
    <script src="js/test.js"></script>
    <!--Include Js site files-->
    <script src="site-js/vietverse.js"></script>
    <!--Page specific javascripts part-->
  </body>
</html>