<!DOCTYPE html>
<html lang="vi">
  <!--Variables to set active page in sidebar-->
  <head>
    <!--Required meta tags-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="content-language" content="vi">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author" content="Template">
    <meta name="COPYRIGHT" content="© Template">
    <meta name="robots" content="noodp,index,follow">
    <meta name="google" content="notranslate">
    <meta name="keywords" content="">
    <meta name="description" content="">
    <link rel="shortcut icon" href="images/favicon.ico">
    <title>VVS NIC Home</title>
    <!--Include CSS primary files-->
    <link href="css/bz-fonts.min.css" rel="stylesheet">
    <link href="css/bootstrap-custom.min.css" rel="stylesheet">
    <link href="css/bz-main.min.css" rel="stylesheet">
    <!--Include CSS plugins files-->
    <link href="lib-css/animate-v4.css" rel="stylesheet">
    <link href="lib-css/jquery.scrollbar.css" rel="stylesheet">
    <link href="lib-css/owl.carousel.min.css" rel="stylesheet">
    <link href="lib-css/swiper-bundle.css" rel="stylesheet">
    <!--Include CSS widgets common files-->
    <link href="widgets-css/html-content.css" rel="stylesheet">
    <link href="widgets-css/copyright.css" rel="stylesheet">
    <link href="widgets-css/line.css" rel="stylesheet">
    <link href="widgets-css/logo.css" rel="stylesheet">
    <link href="widgets-css/menu.css" rel="stylesheet">
    <link href="widgets-css/menu-vertical.css" rel="stylesheet">
    <link href="widgets-css/article-single.css" rel="stylesheet">
    <link href="widgets-css/growup.css" rel="stylesheet">
    <link href="widgets-css/owl-slider-image.css" rel="stylesheet">
    <link href="widgets-css/owl-slider-link.css" rel="stylesheet">
    <link href="widgets-css/swiper-slider-image.css" rel="stylesheet">
    <link href="widgets-css/social.css" rel="stylesheet">
    <!--Include CSS widgets pages files-->
    <link href="widgets-css/hero.css" rel="stylesheet">
    <link href="widgets-css/event-overview.css" rel="stylesheet">
    <link href="widgets-css/agenda.css" rel="stylesheet">
    <link href="widgets-css/partners-grid.css" rel="stylesheet">
    <link href="widgets-css/previous-events.css" rel="stylesheet">
    <link href="widgets-css/speakers.css" rel="stylesheet">
    <link href="widgets-css/quick-payment-method.css" rel="stylesheet">
    <!--Include CSS site files-->
    <style>
      :root, [data-bs-theme="light"] {
        --bs-primary: #070A4F;
        --bs-primary-rgb: 7, 10, 79;
        --bs-primary-light: rgba(7, 10, 79, 0.2);
        --bs-primary-hover: rgba(7, 10, 79, 0.8);
        --bs-secondary: #ED1C24;
        --bs-secondary-rgb: 237, 28, 36;
        --bs-secondary-light: rgba(237, 28, 36, 0.2);
        --bs-secondary-hover: rgba(237, 28, 36, 0.8);
        --bs-dark: #111827;
        --bs-dark-rgb: 17,24,39;
        --bs-dark-hover: rgba(17,24,39,0.8);
        --font-site: 'SVN Gilroy', sans-serif;
        --font-title: 'SVN Gilroy', sans-serif;
        --font-desc: 'SVN Gilroy', sans-serif;
        --font-detail: 'SVN Gilroy', sans-serif;
        --text-color-site: #000;
        --text-color-title: #000;
        --text-color-desc: #555;
        --text-color-detail: #222;
        --container-lg-width: 970px;
        --container-xl-width: 1140px;
        --container-xxl-width: 1280px;
      }
      .bz-block {
        --padding-unit: 24px;
        --padding-unit-md: 36px;
        --padding-unit-lg: 50px;
        --margin-unit: 24px;
        --margin-unit-md: 36px;
        --margin-unit-lg: 50px;
      }
      .bz-box {
        --fontsize-unit: 26px;
        --fontsize-unit-md: 32px;
        --fontsize-unit-lg: 36px;
      }
      .btn-primary {
        --bs-btn-hover-bg: var(--bs-primary-hover);
        --bs-btn-hover-border-color: var(--bs-primary-hover);
      }
      .btn-secondary {
        --bs-btn-hover-bg: var(--bs-secondary-hover);
        --bs-btn-hover-border-color: var(--bs-secondary-hover);
      }
      .btn-dark{
        --bs-btn-hover-bg: var(--bs-dark-hover);
        --bs-btn-hover-border-color: var(--bs-dark-hover);
      }
    </style>
    <link href="site-css/vvs-nic.css" rel="stylesheet">
  </head>
  <body class="bz-site-vvs-nic">
    <!--Header part-->
    <div class="bz-header">
      <div class="container">
        <div class="bz-row">
          <div class="bz-col" data-col="6" data-col-lg="3">
            <div class="bz-block bz-block-logo">
              <div class="bz-logo"><a href="#"><img class="bz-logo__primary" src="upload/site/vvs-nic/logo-nic.png" alt="logo"><img class="bz-logo__secondary" src="upload/site/vvs-nic/logo-nic-white.svg" alt="logo"></a></div>
              <!--end bz-logo-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col justify-content-end" data-col="6" data-col-lg="9">
            <div class="bz-block bz-block-menu">
              <button class="bz-menu-expand js-menu-expand" type="button"><span class="material-symbols-outlined">menu</span></button>
              <div class="bz-menu">
                <ul>
                  <li><a href="#">Overview</a></li>
                  <li><a href="#">Speakers</a></li>
                  <li><a href="#">Agenda</a></li>
                  <li><a href="#">Previous events</a></li>
                </ul>
                <!--end ul-->
              </div>
              <!--end bz-menu-vertical-->
            </div>
            <!--end bz-block-->
            <div class="bz-block bz-block-cta ms-3">
              <div class="bz-cta"><a class="btn btn-lg btn-secondary rounded-pill" href="#"><span class="material-symbols-outlined text-size-medium me-1">confirmation_number</span> Get Tickets</a></div>
            </div>
          </div>
          <!--end bz-col-->
        </div>
        <!--end bz-row-->
      </div>
      <!--end container-->
    </div>
    <!--end bz-header-->
    <!--Content page part-->
    <div class="bz-content">
      <div class="bz-row">
        <div class="bz-col">
          <div class="bz-block bz-block-hero vvs-nic-block-hero" id="vvs-nic-block-hero">
            <div class="container">
              <div class="bz-box">
                <div class="bz-box__content">
                  <div class="bz-hero-img"><img src="upload/site/vvs-nic/hero.jpg" alt="hero"></div>
                  <div class="bz-hero-box">
                    <h1 class="bz-hero-box__title">VIETNAM INNOVATION<br>AND PRIVATE CAPITAL SUMMIT 2025<br>(VIPC Summit 2025)</h1>
                    <div class="bz-hero-box__btn"><a class="btn btn-lg btn-secondary rounded-pill" href="#"><span class="material-symbols-outlined text-size-medium me-1">confirmation_number</span> Get Tickets</a></div>
                    <div class="bz-hero-box__desc">
                      <p><span class="material-symbols-outlined me-2">calendar_month</span> 22.04.2025</p>
                      <p><span class="material-symbols-outlined me-2">location_on</span> National convention center (ncc), Hanoi, vietnam</p>
                    </div>
                    <div class="bz-hero-box__partner">
                      <div class="c-partner-small">
                        <div class="c-partner-small__label">Co-organizers</div>
                        <div class="c-partner-small__list"><img src="upload/site/vvs-nic/partner_1.png" alt="partner"><img src="upload/site/vvs-nic/partner_2.png" alt="partner"></div>
                      </div>
                      <div class="c-partner-small">
                        <div class="c-partner-small__label">Our sponsors</div>
                        <div class="c-partner-small__list"><img src="upload/site/vvs-nic/partner_3.png" alt="partner"><img src="upload/site/vvs-nic/partner_4.png" alt="partner"><img src="upload/site/vvs-nic/partner_5.png" alt="partner"><img src="upload/site/vvs-nic/partner_6.png" alt="partner"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <!--end bz-box__content-->
              </div>
              <!--end container-->
            </div>
            <!--end bz-block-->
          </div>
          <div class="bz-block is-padding-top-small is-padding-bottom-small bg-primary bz-block-growup vvs-nic-block-growup" id="vvs-nic-block-growup">
            <div class="container">
              <div class="bz-box">
                <div class="bz-box__content">
                  <div class="bz-growup-grid">
                    <ul>
                      <li>
                        <div class="bz-grid">
                          <div class="bz-grid__img">
                            <figure><img src="upload/site/vvs-nic/growup_1.svg" alt="icon"></figure>
                          </div>
                          <div class="bz-grid__content">
                            <div class="bz-grid__row">
                              <h3 class="bz-grid__title">10,000</h3>
                            </div>
                            <div class="bz-grid__row bz-grid__desc">Participants from over 20 countries</div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="bz-grid">
                          <div class="bz-grid__img">
                            <figure><img src="upload/site/vvs-nic/growup_2.svg" alt="icon"></figure>
                          </div>
                          <div class="bz-grid__content">
                            <div class="bz-grid__row">
                              <h3 class="bz-grid__title">170+</h3>
                            </div>
                            <div class="bz-grid__row bz-grid__desc">Renowned speakers, top venture capital firms, and private equity investors</div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="bz-grid">
                          <div class="bz-grid__img">
                            <figure><img src="upload/site/vvs-nic/growup_1.svg" alt="icon"></figure>
                          </div>
                          <div class="bz-grid__content">
                            <div class="bz-grid__row">
                              <h3 class="bz-grid__title">10,000</h3>
                            </div>
                            <div class="bz-grid__row bz-grid__desc">Participants from over 20 countries</div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="bz-grid">
                          <div class="bz-grid__img">
                            <figure><img src="upload/site/vvs-nic/growup_2.svg" alt="icon"></figure>
                          </div>
                          <div class="bz-grid__content">
                            <div class="bz-grid__row">
                              <h3 class="bz-grid__title">170+</h3>
                            </div>
                            <div class="bz-grid__row bz-grid__desc">Renowned speakers, top venture capital firms, and private equity investors</div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <!--end bz-growup-grid-->
                </div>
                <!--end bz-box__content-->
              </div>
              <!--end bz-box-->
            </div>
            <!--end container-->
          </div>
          <!--end bz-block-->
          <div class="bz-block is-padding-top-large is-padding-bottom bz-block-speakers vvs-nic-block-speakers" id="vvs-nic-block-speakers">
            <div class="container">
              <div class="bz-box is-center">
                <div class="bz-box__title">
                  <div class="bz-box__title__main">
                    <div class="bz-box__title__name">Meet our speakers</div>
                    <div class="bz-box__title__desc">Get to know our team members and find out who they are.</div>
                  </div>
                </div>
                <div class="bz-box__content">
                  <div class="bz-speakers-grid">
                    <ul>
                      <li>
                        <div class="bz-grid">
                          <div class="bz-grid__img"><a href="#"><img src="upload/site/vvs-nic/speaker_1.jpg" alt="speaker"></a></div>
                          <div class="bz-grid__content">
                            <div class="bz-grid__row">
                              <h3 class="bz-grid__title"><a href="#">Thomas Lanyi (Dr.)</a></h3>
                            </div>
                            <div class="bz-grid__row bz-grid__desc">Managing Partner and Head of Southeast Asia</div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="bz-grid">
                          <div class="bz-grid__img"><a href="#"><img src="upload/site/vvs-nic/speaker_2.jpg" alt="speaker"></a></div>
                          <div class="bz-grid__content">
                            <div class="bz-grid__row">
                              <h3 class="bz-grid__title"><a href="#">Thomas Lanyi (Dr.)</a></h3>
                            </div>
                            <div class="bz-grid__row bz-grid__desc">Managing Partner and Head of Southeast Asia</div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="bz-grid">
                          <div class="bz-grid__img"><a href="#"><img src="upload/site/vvs-nic/speaker_3.jpg" alt="speaker"></a></div>
                          <div class="bz-grid__content">
                            <div class="bz-grid__row">
                              <h3 class="bz-grid__title"><a href="#">Thomas Lanyi (Dr.)</a></h3>
                            </div>
                            <div class="bz-grid__row bz-grid__desc">Managing Partner and Head of Southeast Asia</div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="bz-grid">
                          <div class="bz-grid__img"><a href="#"><img src="upload/site/vvs-nic/speaker_4.jpg" alt="speaker"></a></div>
                          <div class="bz-grid__content">
                            <div class="bz-grid__row">
                              <h3 class="bz-grid__title"><a href="#">Thomas Lanyi (Dr.)</a></h3>
                            </div>
                            <div class="bz-grid__row bz-grid__desc">Managing Partner and Head of Southeast Asia</div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="bz-grid">
                          <div class="bz-grid__img"><a href="#"><img src="upload/site/vvs-nic/speaker_5.jpg" alt="speaker"></a></div>
                          <div class="bz-grid__content">
                            <div class="bz-grid__row">
                              <h3 class="bz-grid__title"><a href="#">Thomas Lanyi (Dr.)</a></h3>
                            </div>
                            <div class="bz-grid__row bz-grid__desc">Managing Partner and Head of Southeast Asia</div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="bz-grid">
                          <div class="bz-grid__img"><a href="#"><img src="upload/site/vvs-nic/speaker_6.jpg" alt="speaker"></a></div>
                          <div class="bz-grid__content">
                            <div class="bz-grid__row">
                              <h3 class="bz-grid__title"><a href="#">Thomas Lanyi (Dr.)</a></h3>
                            </div>
                            <div class="bz-grid__row bz-grid__desc">Managing Partner and Head of Southeast Asia</div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="bz-grid">
                          <div class="bz-grid__img"><a href="#"><img src="upload/site/vvs-nic/speaker_7.jpg" alt="speaker"></a></div>
                          <div class="bz-grid__content">
                            <div class="bz-grid__row">
                              <h3 class="bz-grid__title"><a href="#">Thomas Lanyi (Dr.)</a></h3>
                            </div>
                            <div class="bz-grid__row bz-grid__desc">Managing Partner and Head of Southeast Asia</div>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="bz-grid">
                          <div class="bz-grid__img"><a href="#"><img src="upload/site/vvs-nic/speaker_8.jpg" alt="speaker"></a></div>
                          <div class="bz-grid__content">
                            <div class="bz-grid__row">
                              <h3 class="bz-grid__title"><a href="#">Thomas Lanyi (Dr.)</a></h3>
                            </div>
                            <div class="bz-grid__row bz-grid__desc">Managing Partner and Head of Southeast Asia</div>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <!--end bz-speakers-grid-->
                </div>
                <!--end bz-box__content-->
              </div>
              <!--end bz-box-->
            </div>
            <!--end container-->
          </div>
          <!--end bz-block-->
          <div class="bz-block is-padding-top is-padding-bottom-large bz-block-event-overview vvs-nic-block-event-overview" id="vvs-nic-block-event-overview">
            <div class="container">
              <div class="bz-box">
                <div class="bz-box__title">
                  <div class="bz-box__title__main">
                    <div class="bz-box__title__name">Event overview</div>
                  </div>
                </div>
                <div class="bz-box__content">
                  <div class="bz-event-overview-grid">
                    <ul>
                      <li>
                        <div class="bz-maincontent">Vietnam Innovation and Private Capital Summit 2025 (VIPC Summit 2025) is an evolution of the Vietnam Venture Summit, first launched by the Ministry of Planning and Investment in 2019. Over four successful editions, the summit has connected nearly 10,000 participants from over 20 countries, including 170+ renowned speakers, top venture capital firms, and private equity investors. The 2025 edition aims to further enhance Vietnam’s position as a key destination for private capital investment in innovation.</div>
                      </li>
                      <li>
                        <div class="bz-maincontent">Bringing together major international funds, financial institutions, and stock exchange representatives (NASDAQ, NYSE), the summit will explore investment trends, opportunities, and challenges in Vietnam’s private capital market. VIPC Summit 2025 will focus on pioneering sectors such as AI, semiconductors, green tech, and digital transformation, strengthening collaboration between the government, businesses, and investors. By fostering a sustainable financial ecosystem, the summit will drive innovation, accelerate commercialization, and support Vietnam’s vision for rapid and sustainable economic growth.</div>
                      </li>
                    </ul>
                  </div>
                  <div class="bz-event-overview-img"><img src="upload/site/vvs-nic/event-overview.jpg" alt="event overview"></div>
                </div>
                <!--end bz-box__content-->
              </div>
              <!--end bz-box-->
            </div>
            <!--end container-->
          </div>
          <!--end bz-block-->
          <div class="bz-block is-padding-top-large is-padding-bottom-large bg-primary bz-block-agenda vvs-nic-block-agenda" id="vvs-nic-block-agenda">
            <div class="container">
              <div class="bz-box">
                <div class="bz-box__title">
                  <div class="bz-box__title__main">
                    <div class="bz-box__title__name">Agenda</div>
                    <div class="bz-box__title__desc">Jan 12, 2025, 8:30 AM - 17:00 PM</div>
                  </div>
                </div>
                <div class="bz-box__content">
                  <div class="bz-tabs">
                    <div class="bz-tabs__title">
                      <ul>
                        <li class="active"><a href="#day-1">Day 1:<br><span>Monday, April 21, 2025</span></a></li>
                        <li><a href="#day-2">Day 2:<br><span>Tuesday, April 22, 2025</span></a></li>
                        <li><a href="#day-3">Day 3:<br><span>Wednesday, April 23, 2025</span></a></li>
                      </ul>
                    </div>
                    <!--end bz-tabs-title-->
                    <div class="bz-tabs__container">
                      <div class="bz-tabs__pane is-current active" id="day-1">
                        <div class="bz-agenda-grid">
                          <ul>
                            <li>
                              <div class="bz-agenda-item">
                                <div class="bz-agenda-item__head">
                                  <div class="bz-agenda-item__time">08:30 - 09:00</div><span>90 minutes</span>
                                </div>
                                <div class="bz-agenda-item__content">
                                  <h3 class="bz-agenda-item__title">How to build a startup</h3>
                                  <div class="bz-agenda-author">
                                    <div class="bz-agenda-author__img"><img src="upload/site/vvs-nic/author_1.png" alt="author"></div>
                                    <div class="bz-agenda-author__text">
                                      <div class="bz-agenda-author__name">James Collins</div><span>Founder, Acme Corp.</span>
                                    </div>
                                  </div>
                                  <p class="bz-agenda-item__desc">Lorem ipsum dolor sit amet consectetur. Auctor purus magna id maecenas platea. Pharetra aliquet viverra arcu diam. Sed leo urna enim euismod et. Eget ac diam arcu vulputate porttitor tempus.</p>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="bz-agenda-item">
                                <div class="bz-agenda-item__head">
                                  <div class="bz-agenda-item__time">08:30 - 09:00</div><span>90 minutes</span>
                                </div>
                                <div class="bz-agenda-item__content">
                                  <h3 class="bz-agenda-item__title">How to build a startup</h3>
                                  <div class="bz-agenda-author">
                                    <div class="bz-agenda-author__img"><img src="upload/site/vvs-nic/author_1.png" alt="author"></div>
                                    <div class="bz-agenda-author__text">
                                      <div class="bz-agenda-author__name">James Collins</div><span>Founder, Acme Corp.</span>
                                    </div>
                                  </div>
                                  <p class="bz-agenda-item__desc">Lorem ipsum dolor sit amet consectetur. Auctor purus magna id maecenas platea. Pharetra aliquet viverra arcu diam. Sed leo urna enim euismod et. Eget ac diam arcu vulputate porttitor tempus.</p>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="bz-agenda-item">
                                <div class="bz-agenda-item__head">
                                  <div class="bz-agenda-item__time">08:30 - 09:00</div><span>90 minutes</span>
                                </div>
                                <div class="bz-agenda-item__content">
                                  <h3 class="bz-agenda-item__title">How to build a startup</h3>
                                  <div class="bz-agenda-author">
                                    <div class="bz-agenda-author__img"><img src="upload/site/vvs-nic/author_1.png" alt="author"></div>
                                    <div class="bz-agenda-author__text">
                                      <div class="bz-agenda-author__name">James Collins</div><span>Founder, Acme Corp.</span>
                                    </div>
                                  </div>
                                  <p class="bz-agenda-item__desc">Lorem ipsum dolor sit amet consectetur. Auctor purus magna id maecenas platea. Pharetra aliquet viverra arcu diam. Sed leo urna enim euismod et. Eget ac diam arcu vulputate porttitor tempus.</p>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="bz-agenda-item">
                                <div class="bz-agenda-item__head">
                                  <div class="bz-agenda-item__time">08:30 - 09:00</div><span>90 minutes</span>
                                </div>
                                <div class="bz-agenda-item__content">
                                  <h3 class="bz-agenda-item__title">How to build a startup</h3>
                                  <div class="bz-agenda-author">
                                    <div class="bz-agenda-author__img"><img src="upload/site/vvs-nic/author_1.png" alt="author"></div>
                                    <div class="bz-agenda-author__text">
                                      <div class="bz-agenda-author__name">James Collins</div><span>Founder, Acme Corp.</span>
                                    </div>
                                  </div>
                                  <p class="bz-agenda-item__desc">Lorem ipsum dolor sit amet consectetur. Auctor purus magna id maecenas platea. Pharetra aliquet viverra arcu diam. Sed leo urna enim euismod et. Eget ac diam arcu vulputate porttitor tempus.</p>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="bz-agenda-item">
                                <div class="bz-agenda-item__head">
                                  <div class="bz-agenda-item__time">08:30 - 09:00</div><span>90 minutes</span>
                                </div>
                                <div class="bz-agenda-item__content">
                                  <h3 class="bz-agenda-item__title">How to build a startup</h3>
                                  <div class="bz-agenda-author">
                                    <div class="bz-agenda-author__img"><img src="upload/site/vvs-nic/author_1.png" alt="author"></div>
                                    <div class="bz-agenda-author__text">
                                      <div class="bz-agenda-author__name">James Collins</div><span>Founder, Acme Corp.</span>
                                    </div>
                                  </div>
                                  <p class="bz-agenda-item__desc">Lorem ipsum dolor sit amet consectetur. Auctor purus magna id maecenas platea. Pharetra aliquet viverra arcu diam. Sed leo urna enim euismod et. Eget ac diam arcu vulputate porttitor tempus.</p>
                                </div>
                              </div>
                            </li>
                            <li>
                              <div class="bz-agenda-item">
                                <div class="bz-agenda-item__head">
                                  <div class="bz-agenda-item__time">08:30 - 09:00</div><span>90 minutes</span>
                                </div>
                                <div class="bz-agenda-item__content">
                                  <h3 class="bz-agenda-item__title">How to build a startup</h3>
                                  <div class="bz-agenda-author">
                                    <div class="bz-agenda-author__img"><img src="upload/site/vvs-nic/author_1.png" alt="author"></div>
                                    <div class="bz-agenda-author__text">
                                      <div class="bz-agenda-author__name">James Collins</div><span>Founder, Acme Corp.</span>
                                    </div>
                                  </div>
                                  <p class="bz-agenda-item__desc">Lorem ipsum dolor sit amet consectetur. Auctor purus magna id maecenas platea. Pharetra aliquet viverra arcu diam. Sed leo urna enim euismod et. Eget ac diam arcu vulputate porttitor tempus.</p>
                                </div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <!--end bz-agenda-grid-->
                      </div>
                      <!--end bz-tabs-pane-->
                      <div class="bz-tabs__pane" id="day-2">
                        <div style="color:white;">Day 2 content goes here...</div>
                      </div>
                      <!--end bz-tabs-pane-->
                      <div class="bz-tabs__pane" id="day-3">
                        <div style="color:white;">Day 3 content goes here...</div>
                      </div>
                      <!--end bz-tabs-pane-->
                    </div>
                    <!--end bz-tabs__container-->
                  </div>
                  <!--end bz-tabs-->
                </div>
                <!--end bz-box__content-->
              </div>
              <!--end bz-box-->
            </div>
            <!--end container-->
          </div>
          <!--end bz-block-->
          <div class="bz-block is-padding-top-large is-padding-bottom-large bz-block-previous-events vvs-nic-block-previous-events" id="vvs-nic-block-previous-events">
            <div class="container">
              <div class="bz-box is-center">
                <div class="bz-box__title">
                  <div class="bz-box__title__main">
                    <div class="bz-box__title__name">Previous events</div>
                    <div class="bz-box__title__desc">An event that unites the entire private capital industry in Viet Nam</div>
                  </div>
                </div>
                <div class="bz-box__content">
                  <div class="bz-previous-events-grid">
                    <ul>
                      <li>
                        <div class="bz-previous-events-item"><a href="#"><img src="upload/site/vvs-nic/event-thumb_1.jpg" alt="previous event"></a></div>
                      </li>
                      <li>
                        <div class="bz-previous-events-item"><a href="#"><img src="upload/site/vvs-nic/event-thumb_2.jpg" alt="previous event"></a></div>
                      </li>
                      <li>
                        <div class="bz-previous-events-item"><a href="#"><img src="upload/site/vvs-nic/event-thumb_3.jpg" alt="previous event"></a></div>
                      </li>
                      <li>
                        <div class="bz-previous-events-item"><a href="#"><img src="upload/site/vvs-nic/event-thumb_4.jpg" alt="previous event"></a></div>
                      </li>
                      <li>
                        <div class="bz-previous-events-item"><a href="#"><img src="upload/site/vvs-nic/event-thumb_5.jpg" alt="previous event"></a></div>
                      </li>
                    </ul>
                  </div>
                </div>
                <!--end bz-box__content-->
              </div>
              <!--end bz-box-->
            </div>
            <!--end container-->
          </div>
          <!--end bz-block-->
          <div class="bz-block is-padding-top is-padding-bottom bg-info bz-block-partners-grid vvs-nic-block-partners-grid" id="vvs-nic-block-partners-grid">
            <div class="container">
              <div class="bz-box is-center">
                <div class="bz-box__title">
                  <div class="bz-box__title__main">
                    <div class="bz-box__title__name">Partners</div>
                  </div>
                </div>
                <div class="bz-box__content">
                  <div class="bz-partners-grid">
                    <ul>
                      <li class="is-big">
                        <div class="bz-partners-item">
                          <div class="bz-partners-item__inner">
                            <figure><img src="upload/site/vvs-nic/bcg.png" alt="partner"></figure>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="bz-partners-item">
                          <div class="bz-partners-item__inner">
                            <figure><img src="upload/site/vvs-nic/baker-mckenzie.svg" alt="partner"></figure>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="bz-partners-item">
                          <div class="bz-partners-item__inner">
                            <figure><img src="upload/site/vvs-nic/marcumasia.png" alt="partner"></figure>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="bz-partners-item">
                          <div class="bz-partners-item__inner">
                            <figure><img src="upload/site/vvs-nic/google-cloud.png" alt="partner"></figure>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="bz-partners-item">
                          <div class="bz-partners-item__inner">
                            <figure><img src="upload/site/vvs-nic/techcombank.png" alt="partner"></figure>
                          </div>
                        </div>
                      </li>
                      <li>
                        <div class="bz-partners-item">
                          <div class="bz-partners-item__inner">
                            <figure><img src="upload/site/vvs-nic/mufg.png" alt="partner"></figure>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <!--end bz-partners-grid-->
                </div>
                <!--end bz-box__content-->
              </div>
              <!--end bz-box-->
            </div>
            <!--end container-->
          </div>
          <!--end bz-block-->
          <div class="bz-block is-padding-top-large is-padding-bottom-large bg-primary bz-block-quick-payment-method vvs-nic-block-quick-payment-method" id="vvs-nic-block-quick-payment-method">
            <div class="container">
              <div class="bz-box">
                <div class="bz-box__content">
                  <div class="bz-quick-payment-method-box">
                    <div class="bz-quick-payment-method-box__content">
                      <div class="bz-quick-payment-method-box__title">Ticket</div>
                      <div class="bz-quick-payment-method-box__scroll">
                        <div class="bz-quick-payment-method-list">
                          <div class="bz-quick-payment-method-list__name">Select your ticket type</div>
                          <ul>
                            <li class="active">
                              <div class="bz-quick-payment-method-item">
                                <div class="bz-quick-payment-method-item__price">$108</div>
                                <div class="bz-quick-payment-method-item__name">Vip Access All</div>
                              </div>
                            </li>
                          </ul>
                        </div>
                        <div class="bz-quick-payment-method-box__line"></div>
                        <div class="bz-maincontent">
                          <p><strong>What we provide</strong></p>
                          <p><span class="material-symbols-outlined text-size-medium me-1">jamboard_kiosk</span> Early Bird Special - Admission to the conference.</p>
                          <p><span class="material-symbols-outlined text-size-medium me-1">local_dining</span> Exclusive lunch</p>
                          <p><span class="material-symbols-outlined text-size-medium me-1">celebration</span> After party and second day agenda (additional event access will be sent following your ticket purchase; refer to website for agenda details)</p><br>
                          <p class="text-info"><strong>Note</strong></p>
                          <p><span class="material-symbols-outlined text-size-medium me-1">info</span> Where a VAT invoice is required, kindly purchase your ticket from VPCA directly</p>
                          <p class="text-info"><span class="material-symbols-outlined text-size-medium me-1">calendar_month</span> Available until 22 Apr, 22:59</p>
                        </div>
                      </div>
                      <!--end bz-quick-payment-method-box__scroll-->
                    </div>
                    <!--end bz-quick-payment-method-box__content-->
                    <div class="bz-quick-payment-method-box__form">
                      <div class="bz-quick-payment-method-box__title">Register now</div>
                      <div class="bz-quick-payment-method-box__scroll">
                        <div class="bz-form">
                          <div class="row g-3 mb-3">
                            <div class="col-sm-6">
                              <label class="form-label"><strong>Time <span class="text-danger">*</span></strong></label>
                              <div class="bz-form-group">
                                <input class="form-control form-control-lg" type="text" name="" placeholder="Choose date"><span class="material-symbols-outlined text-size-medium">calendar_month</span>
                              </div>
                            </div>
                            <div class="col-sm-6">
                              <label class="form-label"><strong>Date <span class="text-danger">*</span></strong></label>
                              <div class="bz-form-group">
                                <input class="form-control form-control-lg" type="text" name="" placeholder="Choose time"><span class="material-symbols-outlined text-size-medium">schedule</span>
                              </div>
                            </div>
                          </div>
                          <div class="mb-3">
                            <label class="form-label"><strong>Service</strong></label>
                            <select class="form-select form-select-lg">
                              <option>Choose a service</option>
                            </select>
                          </div>
                          <div class="mb-3">
                            <label class="form-label"><strong>Your full name <span class="text-danger">*</span></strong></label>
                            <input class="form-control form-control-lg" type="text" name="" placeholder="Your name">
                          </div>
                          <div class="row g-3 mb-3">
                            <div class="col-sm-6">
                              <label class="form-label"><strong>Time <span class="text-danger">*</span></strong></label>
                              <input class="form-control form-control-lg" type="email" name="" placeholder="Your email">
                            </div>
                            <div class="col-sm-6">
                              <label class="form-label"><strong>Date <span class="text-danger">*</span></strong></label>
                              <input class="form-control form-control-lg" type="phone" name="" placeholder="Your phone number">
                            </div>
                          </div>
                          <hr>
                          <div class="bz-choose-method">
                            <div class="bz-choose-method__title">Payment method</div>
                            <div class="bz-choose-method__list">
                              <ul>
                                <li>
                                  <div class="bz-choose-item active">
                                    <input class="form-check-input" type="radio" name="choose-method" id="choose-method-1" checked>
                                    <label class="form-check-label" for="choose-method-1">Credit/Debit Card<span class="text-size-12">Use your bank card to make secure transactions.</span><span><img src="images/payment/visa.svg" alt="choose method"><img src="images/payment/jcb.svg" alt="choose method"><img src="images/payment/americanexpress.svg" alt="choose method"><img src="images/payment/mastercard.svg" alt="choose method"></span></label>
                                  </div>
                                </li>
                                <li>
                                  <div class="bz-choose-item">
                                    <input class="form-check-input" type="radio" name="choose-method" id="choose-method-2">
                                    <label class="form-check-label" for="choose-method-2">PayPal<span class="text-size-12">Use PayPal to make simple and secure transactions.</span><span><img src="images/payment/paypal.svg" alt="choose method"></span></label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                          <div class="mb-3">
                            <label class="form-label"><strong>Card information</strong></label>
                            <div class="bz-form-group">
                              <input class="form-control form-control-lg" type="text" name="" placeholder="1234 1234 1234 1234"><span class="material-symbols-outlined text-size-medium">credit_card</span>
                            </div>
                          </div>
                          <div class="row g-3 mb-3">
                            <div class="col-sm-6">
                              <input class="form-control form-control-lg" type="text" name="" placeholder="MM/YY">
                            </div>
                            <div class="col-sm-6">
                              <input class="form-control form-control-lg" type="text" name="" placeholder="CVC">
                            </div>
                          </div>
                          <div class="mb-3">
                            <label class="form-label"><strong>Cardholder name</strong></label>
                            <input class="form-control form-control-lg" type="text" name="" placeholder="Full name on card">
                          </div>
                          <div class="mb-3">
                            <label class="form-label"><strong>Country or region</strong></label>
                            <select class="form-select form-select-lg">
                              <option>Select your country</option>
                            </select>
                          </div>
                        </div>
                        <!--end bz-form-->
                      </div>
                      <!--end bz-quick-payment-method-box__scroll-->
                      <div class="bz-quick-payment-method-box__btn d-grid">
                        <button class="btn btn-lg btn-secondary rounded-pill" type="submit"><span class="material-symbols-outlined text-size-medium me-1">confirmation_number</span> Send Request</button>
                      </div>
                    </div>
                    <!--end bz-quick-payment-method-box__form-->
                  </div>
                  <!--end bz-quick-payment-method-box-->
                  <div class="bz-quick-message d-none">
                    <div class="bz-quick-message__icon"><span class="material-symbols-outlined text-size-64 text-info">mail</span></div>
                    <div class="bz-quick-message__title text-info">Thank you for your register</div>
                    <div class="bz-quick-message__desc">
                      <p>Your ticket has been successfully registered and sent to your email.</p>
                    </div>
                    <div class="bz-quick-message__btn d-grid">
                      <button class="btn btn-lg btn-secondary rounded-pill" type="button"><span class="material-symbols-outlined text-size-medium me-1">confirmation_number</span> Register for others</button>
                    </div>
                  </div>
                  <!--end bz-quick-message-->
                </div>
                <!--end bz-box__content-->
              </div>
              <!--end bz-box-->
            </div>
            <!--end container-->
          </div>
          <!--end bz-block-->
          <script>
            document.addEventListener('DOMContentLoaded', function() {
                const quickPaymentMethod = document.querySelector('.bz-quick-payment-method-box');
                const quickMessage = document.querySelector('.bz-quick-message');
                const quickPaymentMethodBtn = document.querySelector('.bz-quick-payment-method-box__btn button');
                const quickMessageBtn = document.querySelector('.bz-quick-message__btn button');
                quickPaymentMethodBtn.addEventListener('click', function() {
                    quickPaymentMethod.classList.add('d-none');
                    quickMessage.classList.remove('d-none');
                });
                quickMessageBtn.addEventListener('click', function() {
                    quickPaymentMethod.classList.remove('d-none');
                    quickMessage.classList.add('d-none');
                });
            });
          </script>
        </div>
        <!--end bz-col-->
      </div>
      <!--end bz-row-->
    </div>
    <!--end bz-content-->
    <!--Footer part-->
    <div class="bz-footer">
      <div class="container">
        <div class="bz-row mb-3 mb-lg-5 vvs-nic-footer-top" data-gutter="1" data-gutter-md="2" data-gutter-lg="3">
          <div class="bz-col" data-col="12">
            <div class="bz-block bz-block-html-content">
              <div class="bz-html-content">
                <h2>Get in touch with us</h2>
              </div>
              <!--end bz-html-content-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
        </div>
        <!--end bz-row-->
        <div class="bz-row vvs-nic-footer-main" data-gutter="1" data-gutter-md="2" data-gutter-lg="3">
          <div class="bz-col" data-col="12" data-col-lg="3">
            <div class="bz-block bz-block-logo">
              <div class="bz-logo"><a href="#"><img class="bz-logo__primary" src="upload/site/vvs-nic/logo-nic.svg" alt="logo"><img class="bz-logo__secondary" src="upload/site/vvs-nic/logo-nic-white.svg" alt="logo"></a></div>
              <!--end bz-logo-->
            </div>
            <!--end bz-block-->
            <div class="bz-block bz-block-html-content">
              <div class="bz-html-content">
                <p>NIC là đơn vị trực thuộc Bộ Kế hoạch và Đầu tư được thành lập theo Quyết định số 1269/QĐ-TTg ngày 02/10/2019 của Thủ tướng Chính phủ</p>
              </div>
              <!--end bz-html-content-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="12" data-col-lg="2">
            <div class="bz-block bz-block-html-content">
              <div class="bz-html-content">
                <h3>Contact</h3>
                <p><span class="material-symbols-outlined text-size-medium me-1">call</span> 080 44838</p>
                <p><span class="material-symbols-outlined text-size-medium me-1">mail</span> info@nic.gov.vn</p>
              </div>
              <!--end bz-html-content-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
          <div class="bz-col" data-col="12" data-col-lg="7">
            <div class="bz-block bz-block-html-content">
              <div class="bz-html-content">
                <h3>Location</h3>
                <p><span class="material-symbols-outlined text-size-medium me-1">location_on</span> 6B Hoàng Diệu, Quận Ba Đình, Hà Nội</p>
                <p><span class="material-symbols-outlined text-size-medium me-1">location_on</span> Tòa nhà NIC, Ngõ 7 Tôn Thất Thuyết, Cầu Giấy, Hà Nội</p>
                <p><span class="material-symbols-outlined text-size-medium me-1">location_on</span> Khu Công Nghệ Cao Hòa Lạc, Tân Xá, Thạch Thất, Hà Nội</p>
              </div>
              <!--end bz-html-content-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
        </div>
        <!--end bz-row-->
        <div class="bz-row mt-3 mt-lg-5 vvs-nic-footer-bottom" data-gutter="1" data-gutter-md="2" data-gutter-lg="3">
          <div class="bz-col" data-col="12">
            <div class="bz-block bz-block-html-content">
              <div class="bz-html-content">
                <p>
                  Copyright ©2024 - Trung tâm Đổi mới sáng tạo Quốc gia. All rights reserved. Powered by
                  <a href="https://breezing.in" target="_blank" rel="noopener noreferrer"><i class="icon-breezing-white"></i></a>
                </p>
              </div>
              <!--end bz-html-content-->
            </div>
            <!--end bz-block-->
          </div>
          <!--end bz-col-->
        </div>
        <!--end bz-row-->
      </div>
      <!--end container-->
    </div>
    <!--end bz-footer-->
    <!--Optional JavaScript part-->
    <!--Include Js primary files-->
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/jquery-migrate-3.5.2.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <!--Include Js plugins files-->
    <script src="js/owl.carousel.min.js"></script>
    <script src="js/owl.carousel2.thumbs.min.js"></script>
    <script src="js/swiper-bundle.min.js"></script>
    <script src="js/jquery.matchHeight-min.js"></script>
    <script src="js/jquery.scrollbar.min.js"></script>
    <script src="js/jquery.scrollchaser.min.js"></script>
    <script src="js/jquery.lazyload.min.js"></script>
    <!--Include Js custom files-->
    <script src="js/style.js"></script>
    <script src="js/widget.js"></script>
    <script src="js/test.js"></script>
    <!--Include Js site files-->
    <script src="site-js/vvs-nic.js"></script>
    <!--Page specific javascripts part-->
  </body>
</html>