/*---------- block-copyright css ----------*/
.bz-copyright {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 500;
}
.bz-copyright .icon-breezing {
  margin-left: 5px;
}

/*---------- end block-copyright css ----------*/