/*---------- block event overview css ----------*/
.bz-block-event-overview .bz-box {
  background-color: var(--bs-primary);
  padding: 16px;
}
.bz-block-event-overview .bz-box .bz-box__title .bz-box__title__name {
  color: #fff;
}
.bz-block-event-overview .bz-box .bz-box__title .bz-box__title__before {
  color: #fff;
}
.bz-block-event-overview .bz-box .bz-box__title .bz-box__title__desc {
  color: #fff;
}
.bz-block-event-overview .bz-event-overview-grid .bz-maincontent {
  color: #fff;
  font-size: 16px;
}
.bz-block-event-overview .bz-event-overview-grid .bz-maincontent p {
  font-size: 16px;
}
.bz-block-event-overview .bz-event-overview-img {
  margin-left: -8px;
  margin-right: -8px;
  margin-bottom: -8px;
}

.bz-event-overview-grid {
  margin-bottom: 16px;
}
.bz-event-overview-grid:last-child {
  margin-bottom: 0;
}
.bz-event-overview-grid > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.bz-event-overview-grid > ul > li {
  padding-bottom: 16px;
}

.bz-event-overview-img img {
  width: 100%;
  height: auto;
}

@media (min-width: 768px) {
  .bz-block-event-overview .bz-box {
    padding: 24px;
  }
  .bz-block-event-overview .bz-event-overview-img {
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -16px;
  }
  .bz-event-overview-grid {
    margin-bottom: 24px;
  }
  .bz-event-overview-grid > ul > li {
    padding-bottom: 24px;
  }
}
@media (min-width: 992px) {
  .bz-block-event-overview .bz-box {
    padding: 32px;
  }
  .bz-block-event-overview .bz-event-overview-img {
    margin-left: -24px;
    margin-right: -24px;
    margin-bottom: -24px;
  }
  .bz-event-overview-grid {
    margin-bottom: 32px;
  }
  .bz-event-overview-grid > ul {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
    margin-bottom: -24px;
  }
  .bz-event-overview-grid > ul > li {
    width: 50%;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 24px;
  }
}
@media (min-width: 1200px) {
  .bz-block-event-overview .bz-box {
    padding: 48px;
  }
  .bz-block-event-overview .bz-event-overview-img {
    margin-left: -40px;
    margin-right: -40px;
    margin-bottom: -40px;
  }
  .bz-event-overview-grid {
    margin-bottom: 48px;
  }
  .bz-event-overview-grid .bz-maincontent {
    font-size: 18px;
  }
  .bz-event-overview-grid .bz-maincontent p {
    font-size: 18px;
  }
  .bz-event-overview-grid > ul {
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -32px;
  }
  .bz-event-overview-grid > ul > li {
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 32px;
  }
}
@media (max-width: 991px) {
  .bz-event-overview-grid > ul > li:last-child {
    padding-bottom: 0;
  }
}
/*---------- end block event overview css ----------*/